/* Tribe Events
------------------------------------------------------------------------------------ */

/* Hide Tribe breadcrumbs - our more comfortable */
p.tribe-events-back { display:none; }

/* Main template */
#tribe-events-pg-template,
.events-list .tribe-events-loop, .tribe-events-day .tribe-events-loop, .single-tribe_venue .tribe-events-loop, .single-tribe_organizer .tribe-events-loop { max-width:none; }
.tribe-events-day .tribe-events-day-time-slot .vevent { margin-left:0; }

/* Titles */
.tribe-events-meta-group .tribe-events-single-section-title { padding-bottom:0; }
h2.tribe-events-page-title, #tribe-geo-results h2.tribe-events-page-title { font-weight:300; padding-bottom:0; }
.tribe-events-list-separator-month { font-weight:300; }
#tribe-events-header { display:none; }
.tribe-events-list .type-tribe_events h2 { font-size: 3em; }

/* Buttons and fields */
#tribe-bar-form input[type="text"],
.tribe-events-button, #tribe-events .tribe-events-button { font-weight:300; }
ul.tribe-events-sub-nav a, .tribe-events-back a, .tribe-events-list-widget .tribe-events-widget-link a, .tribe-events-adv-list-widget .tribe-events-widget-link a {
	font-weight:300;
	font-size:inherit;
}
.single-tribe_events #tribe-events-header li, .single-tribe_events #tribe-events-footer li { width:auto; }

/* Featured image */
.single-tribe_events .tribe-events-event-image {
    margin-bottom: 3.7em;
}

/* Event details */
.tribe-events-event-meta .author { margin-bottom:0; }
.tribe-events-venue-details .author:after { display:none; }
a.tribe-events-ical, a.tribe-events-gcal { margin-top:0; }
.tribe-events-loop .tribe-events-event-meta,
.tribe-events-tooltip .duration { font-weight:300; }

/* Event footer */
#tribe-events-footer h3 { display:none; margin-top:0; font-size:1.5em; }

/* Widgets */
.tribe-events-list-widget ol { margin:0; padding: 0; }
.tribe-events-list-widget ol li { margin-bottom:1.5em; }
.tribe-events-list-widget .entry-title { font-size: 1.15em; font-weight:300; }
.tribe-events-list-widget .duration { font-weight:300; }



#tribe-events-pg-template{
    margin-top: 7em;
    margin-bottom: 4.1em;
}
#tribe-bar-form {
    background: none;
}
#tribe-bar-form label {
    font-size: 1em;
    text-transform: none;
    font-weight: 300;
}
#tribe-bar-form .tribe-bar-submit input[type=submit]{
    font-size: 1em;
    font-weight: 400;
    margin-top: 1.45em;
    padding: 0.97em 1em;
    text-transform: none;
}
#tribe-bar-form input[type=text] {
    border: none;
}
.tribe-bar-views-inner {
    background: none;
}
#tribe-bar-form #tribe-bar-views {
    width: 23.5%;
    right: 0;
    left: auto;
    float: right;
}
#tribe-bar-form #tribe-bar-views+.tribe-bar-filters {
    width: 76.5%;
    right: auto;
    left: 0;
    float: left;
}
.tribe-bar-submit {
    width: 20%;
    margin-left: 0;
}
.tribe-bar-date-filter {
    width: 30%;
    padding: 15px 0;
}
.tribe-bar-search-filter {
    width: 49%;
    padding: 15px 0 15px 30px;
}
#tribe-bar-form input[type="text"]::-webkit-input-placeholder {
    font-weight: 300;
    font-size: 1em;
    line-height: 3.1em;
    font-style: normal;
}
#tribe-bar-form input[type="text"] {
    font-weight: 300;
    font-size: 1em;
    margin-top: 0.15em;
    margin-right: 0;
    line-height: 3.1em;
    padding: 0 1.4em;
    height: 3.055em;
}
.tribe-events-button, #tribe-events .tribe-events-button {
    padding: 0.45em 2.95em 0.45em 0.8em;
    font-size: 1em;
    text-transform: none;
}
#tribe-bar-views .tribe-bar-views-list {
    margin-top: 0.15em;
}
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
    padding: 0 1.4em;
    line-height: 3.1;
}
h2.tribe-events-page-title, #tribe-geo-results h2.tribe-events-page-title,
#tribe-geo-results h2.tribe-events-page-title, h2.tribe-events-page-title {
    font-size: 1em;
    font-weight: 700 !important;
    text-transform: uppercase;
    text-align: left;
}
#tribe-events-content {
    margin-top: 0;
    padding: 0;
}
.tribe-events-calendar thead th {
    border: none;
    font-size: 1em;
    font-weight: 300;
    text-transform: none;
    background: none;
}
#tribe-events-content .tribe-events-calendar td, #tribe-events-content table.tribe-events-calendar {
    border: none;
}
#tribe-events-content table.tribe-events-calendar {
    border-collapse: separate;
    margin-top: 4.7em;
    border-spacing: 12px;
}
#tribe-events-content .tribe-events-calendar td {

    border: 2px solid;
    width: 154px;
    height: 154px;

}
.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-]>a {
    background: none;
}
.tribe-events-othermonth .tribe-events-month-event-title, .tribe-events-othermonth div[id*=tribe-events-daynum-] {
    -ms-filter: "alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.tribe-events-calendar div[id*=tribe-events-daynum-], .tribe-events-calendar div[id*=tribe-events-daynum-] a {
    font-size: 25px;
    font-weight: 300;
}
.tribe-events-calendar .tribe-events-future div[id*=tribe-events-daynum-], .tribe-events-calendar .tribe-events-future div[id*=tribe-events-daynum-] a{
    background: none;
}
.tribe-events-calendar td div[id*=tribe-events-daynum-] {
    padding: 0.75em 1em;
}
.events-archive.events-gridview #tribe-events-content table .type-tribe_events {
    font-size: 25px;
    margin: 0;
    padding: 0 0.75em;
}
#tribe-events-content .tribe-events-calendar div[id*=tribe-events-event-] h3.tribe-events-month-event-title{
    font-size: 1em;
    font-family: "PT Serif", serif;
    margin: 0;
    padding: 0;
    font-weight: 300;
}
.tribe-events-list h2.tribe-events-page-title{
    display: none;
}
.tribe-theme-kidsplanet .post_info_share {
    display: none;
}
#tribe-events .tribe-events-list .type-tribe_events h2{
    font-size: 1.1111em;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 1.25em;
    margin-top: 0.95em;
}
.tribe-events-list .type-tribe_events {
    padding-top: 1.85em;
}
#tribe-events-content .updated{
    position: relative;
    padding-left: 2em;
    line-height: 1.3em;
}

#tribe-events-content .updated.time-details:before{
    content: '\e8fa';
    font-family: fontello;
    position: absolute;
    left: 0;
    top: 2px;
    width: 1em;
    text-align: center;
}
#tribe-events-content .updated.time-details2:before{
    content: '\e8ff';
    font-family: fontello;
    position: absolute;
    left: 0;
    top: 2px;
    width: 1em;
    text-align: center;
    font-size: 1.5em;
}
.tribe-events-list .tribe-events-venue-details {
    position: relative;
    padding-left: 2em;
}
.tribe-events-venue-details:before{
    content: '\e8ec';
    font-size: 1.6em;
    font-family: fontello;
    position: absolute;
    left: 0;
    top: 2px;
    width: 1em;
    text-align: center;
}
.tribe-events-event-meta address.tribe-events-address, .tribe-events-list .tribe-events-venue-details{
    font-style: normal;
    line-height: 1.3333em;
}
.tribe-events-loop .tribe-events-event-meta {
    margin-bottom: 0;
    font-size: 1em;
    font-size: 0.8333em;
}
.tribe-events-list .tribe-events-loop .tribe-events-content {
    margin-top: 0;
    width: 64.5%;
}
.tribe-events-list-separator-month span {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}
a.tribe-events-read-more {
    margin-top: 1.25em;
}
#tribe-events .tribe-events-button, .tribe-events-button {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px
}
.single-tribe_events .tribe-events-event-image {
    float: left;
    width: 40%;
    margin-right: 3%;
}
.single-tribe_events .tribe-events-content {
    float: left;
    width: 57%;
}
.tribe-events-event-meta address.tribe-events-address, .tribe-events-list .tribe-events-venue-details {
    font-weight: 300;
    display: block;
}
.single-tribe_events .tribe-events-event-meta.primary {
    width: 23.5%;
    float: left;
}
.single-tribe_events .tribe-events-event-meta.secondary {
    width: 74.5%;
    margin-left: 2%;
    float: left;
}
.single-tribe_events .tribe-events-event-meta .column, .tribe-events-event-meta .tribe-events-meta-group {
    width: 100%;
    padding: 0;
    margin-bottom: 0;
}
.single-tribe_events .tribe-events-event-meta {
    border: 0;
    background: transparent;
    margin-top: 3.3em;
    margin-bottom: 0;
}
.tribe-events-loop .tribe-events-event-meta {
    overflow: hidden;
}
#tribe-events-bar {
    margin-bottom: 23px;
}
.single-tribe_events .tribe-events-cal-links {
    margin-top: 1.45em;
    clear: both;
}

.tribe-events-list .time-details,
.tribe-events-list .time-details2,
.tribe-events-list .tribe-events-venue-details{
    overflow: hidden;
    display: block;
    height: 100%;
    font-weight: 300;
    line-height: 1;
    float: left;
    box-sizing: border-box;
}
.tribe-events-loop .tribe-events-event-meta{
    overflow: auto;
    width: 65.5%;
    margin-top: 2em;
    clear: none;
    margin-bottom: 0.9em;
}
.tribe-events-list .tribe-events-event-image {
    float: left;
    width: 31.5%;
    margin-right: 2.8%;
}
.tribe-events-list-separator-month{
    display: none;
}
#tribe-events .tribe-events-list .type-tribe_events h2 {
    display: block;
}
.tribe-events-list .tribe-events-event-image+div.tribe-events-content {
    float: left;
    width: 65%;
    position: relative;
}

.tribe-events-sub-nav{
    position: absolute;
    top: -1em;
    right: 2.9em;
}
.tribe-events-nav-next a,
.tribe-events-nav-previous a{
    width: 50px;
    height: 50px;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 0 !important;
    position: relative;
}
.tribe-events-nav-previous a{
    transform: rotate(180deg);
}
.tribe-events-nav-next a:after,
.tribe-events-nav-previous a:after{
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    content: '\e8f2';
    font-size: 25px;
    font-family: 'fontello';
    color: pink;
    top: 0.2em;
    left: -0.4em;
}
.tribe-events-nav-next a:after{
    top: 0.16em;
    left: -0.47em;
}
.tribe-events-meta-group .tribe-events-single-section-title {
    font-family: Oswald, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;

}
.primary .tribe-events-meta-group .tribe-events-single-section-title {
    padding-bottom: 1em;
    border-bottom: 1px solid;
    margin-bottom: 1.7em;
}
.primary .tribe-events-meta-group.tribe-events-meta-group-organizer .tribe-events-single-section-title {
     padding-bottom: 0;
     border-bottom: 0;
     margin-bottom: 0;
     text-transform: none;
     font-weight: 300;
 }
.single-tribe_events #tribe-events-content .tribe-events-venue-details,
.single-tribe_events #tribe-events-content .tribe-events-abbr,
.single-tribe_events #tribe-events-content .updated {
    font-size: 15px;
    font-weight: 300;
    float: left;
    box-sizing: border-box;
    position: relative;
}
.tribe-events-venue-details dd {
    padding-left: 2em;
    margin-left: 0;
}
.single-tribe_events #tribe-events-content .tribe-events-event-meta dt {
    font-weight: 300;
    font-size: 19px;
    margin-top: 0.95em;
}
.single-tribe_events #tribe-events-content .tribe-events-schedule  {
    padding-left: 0;
    float: left;
    width: 57%;
    margin-bottom: 0.6em;
}
.single-tribe_events #tribe-events-content .tribe-events-event-meta dd {
    margin-bottom: 0;
    margin-top: 0.8em;
}
.single-tribe_events .tribe-events-venue-map {
    width: 100%;
    margin: 1em 0 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    zoom: 1;
    vertical-align: top;
}
.single-tribe_events h2.tribe-events-single-event-title {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.single-tribe_events .tribe-events-schedule h3 {
    font-weight: 300;
    font-size: 16px;
}
.single-tribe_events #tribe-events-footer {
    display: none;
}

.tribe-events-excerpt {
    clear: both;
}
.tribe-events-excerpt h5 {
   text-transform: uppercase;
    margin-bottom: 1.4em;
}
.single-tribe_events #tribe-events-content .tribe-events-abbr {
    padding-left: 0;
    margin-bottom: 1.15em;
}
.single-tribe_events #tribe-events-content .tribe-events-abbr.dtend {
    margin-bottom: 0;
}