/* Accordion
-------------------------------------------------------------- */
.sc_accordion .sc_accordion_item {

}
.sc_accordion > .sc_accordion_item .sc_accordion_content {
    overflow: hidden;
    display: none;
}
.sc_accordion .sc_accordion_item .sc_accordion_title {
    line-height: 2em;
    text-transform: uppercase;
    position:relative;
    overflow:hidden;
    cursor:pointer;
    margin:0;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    padding: 0.5em 3em 0.36em 1.8em;
}
.sc_accordion .sc_accordion_item .sc_accordion_title .sc_items_counter:after {
    content:'. ';
}
.sc_accordion .sc_accordion_item .sc_accordion_title .sc_accordion_icon {
    position:absolute;
    left:0;
    top:0;
    height:100%;
    padding:0;
    text-align:center;
    overflow:hidden;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.sc_accordion .sc_accordion_item .sc_accordion_title .sc_accordion_icon:before {
    position:absolute;
    font-size: 0.5em;
    font-weight: 900;
    left:50%;
    top:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    -moz-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%);
}
.sc_accordion .sc_accordion_item .sc_accordion_content {
    padding: 1.2em 2em;
}

/* Style 1 */
.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_title {
    border-top: 1px solid;
}
.sc_accordion.sc_accordion_style_1 .sc_accordion_item:first-child .sc_accordion_title {
    border-top: 0;
}
.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_title .sc_accordion_icon {
    width:2.85em;
    right: 0;
    left: auto;
}
.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_title .sc_accordion_icon_opened {
    margin-top:-3em;
}
.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_title.ui-state-active .sc_accordion_icon_opened {
    margin-top:0;
}
.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_title.ui-state-active .sc_accordion_icon_closed {
    margin-top:2.3333em;
}

/* Style 2 */
.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title {
    border-bottom: 0;
    padding: 0.8em 3em 0.6em 2.1em;
}
.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_content {
    padding: 1.4em 2.6em;
}
.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title .sc_accordion_icon {
    width:2.85em;
    right: 0;
    left: auto;
}
.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title .sc_accordion_icon:before {

}
.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title .sc_accordion_icon_opened {
    margin-top:-3.5em;
}
.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title.ui-state-active .sc_accordion_icon_opened {
    margin-top:0;
}
.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title.ui-state-active .sc_accordion_icon_closed {
    margin-top:2.3333em;
}




/* Audio
-------------------------------------------------------------- */
.mejs-container * {
    font-family: Oswald, sans-serif !important;
}
.mejs-offscreen {
    display:none !important;
}
.sc_audio {
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}
.sc_audio.sc_show {
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=1);
}

.mejs-container .mejs-controls .mejs-button{
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    width: 29px !important;
    height: 29px !important;
    position: relative !important;
    margin-right: 1em !important;
}
.mejs-container .mejs-controls .mejs-time {
    margin-left: 0.5em !important;
    margin-right: 2em !important;
    padding: 8px 3px 0 !important;
    font-size: 14px;
}
.mejs-container .mejs-controls .mejs-button button{
    background: none !important;
    margin: 0 !important;
    height: 29px !important;
    width: 29px !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}
.mejs-container .mejs-controls .mejs-button.mejs-play:before{
    font-family: "fontello";
    content: '\e8e1';
    font-size: 1.3em;
    position: absolute;
    left: 55%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.mejs-container .mejs-controls .mejs-button.mejs-pause:before{
    font-family: "fontello";
    content: '\e8e3';
    font-size: 1.3em;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.mejs-container .mejs-controls .mejs-button.mejs-mute:before{
    font-family: "fontello";
    content: '\e8ed';
    font-size: 1.3em;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.mejs-container .mejs-controls .mejs-button.mejs-unmute:before{
    font-family: "fontello";
    content: '\e8ee';
    font-size: 1.3em;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.sc_audio .mejs-container .mejs-currenttime-container{
    display: none !important;
}
.sc_audio.sc_audio_image {
    padding: 60px 25px 60px 25px;
    position: relative;
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sc_audio.sc_audio_info {
    position:relative;
    padding:90px 25px 25px;
    border: 1px solid #f0f0f0;
}
.sc_audio .sc_audio_header {
    padding: 0 0 20px 0;
}
.sc_audio.sc_audio_image .sc_audio_header {
    min-height: 70px;
}
.sc_audio.sc_audio_image .sc_audio_container {
    position: absolute;
    left: 120px;
    right: 25px;
    bottom: 14px;
    width: 610px;
    padding-left: 20px;
    padding-right: 20px;
}
.sc_audio .sc_audio_header {
    position:absolute;
    top: 0;
    left:120px;
    padding: 1.3em 1.2em 0;
}

.sc_audio .sc_audio_author_by {
    color: #222222;
}
.sc_audio .sc_audio_title {
    margin:0;
    text-transform: none;
}
.sc_audio .sc_audio_author {
    margin-top: 0.2em;
    font-size: 0.833em;
    line-height: 1.1em;
}
.sc_audio_author_by{
    display: none;
}
.mejs-container button:after {
    display: none !important;
}
.mejs-container, .mejs-embed, .mejs-embed body, .mejs-container .mejs-controls {
    background: none !important;
}
.mejs-controls .mejs-time-rail .mejs-time-current{
    position: relative;
}
.mejs-controls .mejs-time-rail .mejs-time-current:before{
    content: '';
    position: absolute;
    top: -12px;
    right: -14px;
    width: 29px;
    height: 29px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid;
}





/* Button
-------------------------------------------------------------- */
.woocommerce a.button,
.woocommerce button.button,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-account .addresses .title .edit,
input[type="submit"],
input[type="button"],
button,
.sc_button {
	display:inline-block;
	text-align:center;
    padding: 0.45em 2.95em 0.45em 0.8em;
	font-weight:400;
    position: relative;
}
.woocommerce-page input.button.alt
.woocommerce-page #respond input#submit.alt,
.woocommerce-page #content input.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce #content input.button.alt,
.woocommerce-page input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page #content input.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce #content input.button,
input[type="submit"],
input[type="button"] {
    padding: 0.45em  0.8em;
    display:inline-block;
    text-align:center;
    font-weight:400;
    position: relative;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}
.woocommerce a.button:after,
.woocommerce button.button:after,
.woocommerce-page a.button:after,
.woocommerce-page button.button:after,
.woocommerce a.button.alt:after,
.woocommerce button.button.alt:after,
.woocommerce-page a.button.alt:after,
.woocommerce-page button.button.alt:after,
.woocommerce-account .addresses .title .edit:after,
input[type="submit"]:after,
input[type="button"]:after,
button:after,
.sc_button:after {
    font-size: 12px;
    position: absolute;
    top: 11px;
    content: "\e836";
    font-family: Fontello;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 50%;
    right: 11px;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}
.woocommerce a.button:hover:after,
.woocommerce button.button:hover:after,
.woocommerce-page a.button:hover:after,
.woocommerce-page button.button:hover:after,
.woocommerce a.button.alt:hover:after,
.woocommerce button.button.alt:hover:after,
.woocommerce-page a.button.alt:hover:after,
.woocommerce-page button.button.alt:hover:after,
.woocommerce-account .addresses .title .edit:hover:after,
.sc_button:hover:after {
    transform: rotate(0);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(0);
    -o-transform: rotate(360deg);
}
.sc_button.sc_button_size_large:after {
    font-size: 20px;
    top: 21px;
    width: 39px;
    height: 39px;
    line-height: 39px;
    right: 17px;
}

.sc_button.sc_button_round {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
}
input[type="submit"]:before,
input[type="button"]:before,
button:before,
.sc_button:before {
	margin-right:10px;
}
input[type="submit"].sc_button_size_medium,
input[type="button"].sc_button_size_medium,
button.sc_button_size_medium,
.sc_button.sc_button_size_medium {
	padding: 1.2em 1.5em;
}
input[type="submit"].sc_button_size_large,
input[type="button"].sc_button_size_large,
button.sc_button_size_large,
.sc_button.sc_button_size_large {
    text-transform: uppercase;
	font-size:1.39em;
    padding: 0.95em 3.6em 1.05em 1.2em;
}
.sc_button.sc_button_style_border {
	border-width: 2px;
	border-style: solid;
}





/* Blogger
-------------------------------------------------------------- */
.sc_blogger.sc_scroll_controls {
	position: relative;
}
.sc_blogger.sc_scroll_controls_type_top {
	overflow: visible !important;	
}
.sc_blogger.sc_scroll_controls_type_top .sc_scroll_controls_wrap {
	top: -50px;
}

/* Style 'Date' */
.sc_blogger.layout_date .sc_blogger_item {
	position: relative;
}
.sc_blogger.layout_date .sc_blogger_item:before {
	content: ' ';
	display: block;
	background-color: #ddd;
	position: absolute;
	z-index: 1;
}
.sc_blogger.layout_date.sc_blogger_vertical .sc_blogger_item:before {
	width: 1px;
	height: 100%;
	left: 40px;
	top: 0;
}
.sc_blogger.layout_date.sc_blogger_horizontal .sc_blogger_item:before {
	height: 1px;
	width: 100%;
	left: 0;
	top: 40px;
}
.sc_blogger.layout_date.sc_blogger_horizontal .sc_blogger_item.sc_blogger_item_last:before {
	content: none;
}

.sc_blogger.layout_date .sc_blogger_item .sc_blogger_date { 
	width: 78px;
	height: 78px;
	border: 1px solid #ddd;
	position: relative;
	z-index: 2;
	background-color: #fff;
	text-align: center;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
}
.sc_blogger.layout_date .sc_blogger_item .sc_blogger_date .day_month {
	display: block;
	padding: 14px 0 6px 0;
	font-size: 1.15em;
	font-weight: 300;
}
.sc_blogger.layout_date .sc_blogger_item .sc_blogger_date .year {
	display: block;
	font-size: 0.75em;
	margin: 0 auto;
}
.sc_blogger.layout_date .sc_blogger_item .sc_blogger_date .year:before {
	width: 33px;
	display: block;
	margin: 0 auto 3px;
	content: ' ';
	border-top: 1px solid #ddd;
}
.sc_blogger.layout_date .sc_blogger_item .sc_blogger_title {
	margin:0 0 0.6em 0;
}

.sc_blogger.layout_date.sc_blogger_horizontal {
	overflow: hidden;	
}
.sc_blogger.layout_date.sc_blogger_horizontal .sc_blogger_item {
	float: left;
}
.sc_blogger.layout_date.sc_blogger_horizontal .post_content {
	padding-right:2em;
}

.sc_blogger.layout_date.sc_blogger_horizontal .sc_blogger_item .sc_blogger_date {
	margin-bottom: 1.25em;
}

.sc_blogger.layout_date.sc_blogger_vertical .sc_blogger_item + .sc_blogger_item {
	padding-top: 2em;
}
.sc_blogger.layout_date.sc_blogger_vertical .sc_blogger_item .sc_blogger_date { 
	float: left;
}
.sc_blogger.layout_date.sc_blogger_vertical .post_content {
	padding-left:100px;
}
.sc_blogger.layout_date.sc_blogger_vertical .post_content:after {
	content:' ';
	width:100%;
	height:0;
	display:block;
	clear:both;
}
.sc_blogger.layout_date.sc_blogger_vertical .sc_blogger_item .post_info { 
	margin: 0;
}

.sc_blogger.layout_date .load_more {
	height: 60px;
	position: relative;
}
.sc_blogger.layout_date .load_more:before {
	width: 28px;
	height: 28px;
	border: 1px solid #ddd;
	background-color: #fff;
	font-family: "fontello";
	content: '\e82d';
	text-align: center;
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 24px;
	line-height: 28px;
}
.sc_blogger.layout_date .load_more:after {
	content: '';
	display: block;
	width: 1px;
	height: 100%;
	background-color: #ddd;
	position: absolute;
	left: 40px;
	top: 0;
	z-index: 1;
}


/* Style Plain */
.sc_blogger_item.sc_plain_item {
	padding: 2.2857em;
	background-color:#f0f0f0;
	margin-bottom:2px;
	text-align:center;
}
.sc_blogger_item.sc_plain_item .post_category {
	font-style:italic;
}
.sc_blogger_item.sc_plain_item .post_title {
	margin-top:0.6em;
	margin-top:0.4em;
}
.sc_blogger_item.sc_plain_item .post_info {
	margin-bottom:0;
}
.sc_blogger.layout_plain .sc_item_button {
	margin-top:2.2857em;
}

/* Style News */
.sc_blogger.sc_blogger_horizontal.layout_news {
	overflow:hidden;
}
.sc_blogger.sc_blogger_horizontal.layout_news .post_featured {
	width: 40%;
	float: left;
	vertical-align: top;
	margin: 0 2em 0.7em 0;
}
.sc_blogger.sc_blogger_horizontal.layout_news .columns_wrap .post_featured {
	width: 100%;
	float: none;
	margin: 0 0 0.7em 0;
}
.sc_blogger.sc_blogger_vertical.layout_news .sc_blogger_item+.sc_blogger_item {
	padding-top:2em;
	margin-top:2em;
	border-top:1px solid #ddd;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
}
.post_item_news .post_featured .hover_icon:before {
	font-size:3em;
}

/* Style 'Related' */
.article_style_boxed .sc_blogger.template_related .post_content_wrap {
	background-color:#f4f7f9;
}

/* Style 'Masonry' */
.article_style_boxed .sc_blogger.template_masonry .post_content {
	background-color:#f4f7f9;
}

/* Isotope filters */
.sc_blogger .isotope_filters {
    margin: 1.5em 0 3.4em;
    text-align: right;
    margin-top: -10px;
}

/* Button below posts */
.sc_blogger.no_margins .sc_blogger_button {
	margin-top: 2em;
}

/* Blogger with scroll */
.sc_scroll_horizontal .sc_blogger .isotope_item,
.sc_scroll_horizontal .sc_blogger [class*=column-],
.sc_blogger .sc_scroll_horizontal .isotope_item,
.sc_blogger .sc_scroll_horizontal [class*=column-] {
	width: 400px;
	display: inline-block;
	vertical-align:top;
	position:relative;
	padding-bottom:0;
	white-space:nowrap; 
}
.sc_scroll_vertical .sc_blogger .isotope_wrap,
.sc_blogger .sc_scroll_vertical .isotope_wrap {
	/*margin-right:0;*/
}
.sc_scroll_vertical .sc_blogger .isotope_item,
.sc_scroll_vertical .sc_blogger [class*=column-],
.sc_blogger .sc_scroll_vertical .isotope_item,
.sc_blogger .sc_scroll_vertical [class*=column-] {
	position:relative;
/*
	width: 100%;
	display: block;
	padding-right:0;
*/
	width: auto;
	max-width:400px;
	display: inline-block;
	padding-right:50px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}



/* Call to action
-------------------------------------------------------------- */
.sc_call_to_action_align_left .sc_call_to_action_title, .sc_call_to_action_align_left .sc_call_to_action_subtitle, .sc_call_to_action_align_left .sc_call_to_action_descr,
.sc_call_to_action_align_right .sc_call_to_action_title, .sc_call_to_action_align_right .sc_call_to_action_subtitle, .sc_call_to_action_align_right .sc_call_to_action_descr {
	text-align:left;
}
.sc_call_to_action_align_left .sc_call_to_action_featured, .sc_call_to_action_align_left .sc_call_to_action_info,
.sc_call_to_action_align_right .sc_call_to_action_featured, .sc_call_to_action_align_right .sc_call_to_action_info {
	vertical-align:middle;
}
.sc_call_to_action_align_none .sc_call_to_action_info,
.sc_call_to_action_align_center .sc_call_to_action_info {
	text-align:center;
}

.sc_call_to_action_align_none .sc_call_to_action_featured,
.sc_call_to_action_align_center .sc_call_to_action_featured {
	margin: 0 auto 2.2857em;
}

.sc_call_to_action .sc_call_to_action_title {
	font-weight:bold;
	margin-bottom:0.5em;
}
.sc_call_to_action .sc_call_to_action_title:after {
	display:none;
}
.sc_call_to_action .sc_call_to_action_descr {
	font-size: 1em;
	font-style:normal;
	font-weight:400;
	line-height: 1.5em;
	text-transform:uppercase;
}
.sc_call_to_action_accented {
	padding: 3em 0;
}
.sc_call_to_action_style_2 .sc_call_to_action_info,
.sc_call_to_action_style_2 .sc_call_to_action_buttons {
	vertical-align:middle;
}
.sc_call_to_action_style_2 .sc_call_to_action_buttons {
	text-align: center;
}
.sc_call_to_action_style_2 .sc_call_to_action_title {
	font-size: 1.7857em;
	font-weight:300;
	margin-bottom:0.25em;
}
.sc_call_to_action_style_2 .sc_call_to_action_descr {
	line-height: 1.3em;
	text-transform: none;
}
.sc_call_to_action_style_2.sc_call_to_action_align_none {
	text-align:center;
}
.sc_call_to_action_style_2.sc_call_to_action_align_none .sc_call_to_action_info,
.sc_call_to_action_style_2.sc_call_to_action_align_none .sc_call_to_action_buttons {
	display:inline-block;
}
.sc_call_to_action_style_2.sc_call_to_action_align_none .sc_call_to_action_buttons {
	margin-left:4em;
}
.sc_call_to_action_style_2.sc_call_to_action_align_center {
	text-align:center;
}


/* Chat
-------------------------------------------------------------- */
.sc_chat {
    position: relative;
    overflow:hidden;
}
.sc_chat+.sc_chat {
    margin-top:0.45em;
}
.sc_chat_inner {
    position: relative;
    border: 1px solid;
    padding: 0;
    overflow:hidden;
}
.sc_chat:after {
    content:' ';
    position:absolute;
    z-index:1;
    top:0;
    left:5.8em;
    width:11px;
    height:30px;
    -webkit-transform: rotate(45deg) skewY(-45deg);
    -moz-transform: rotate(45deg) skewY(-45deg);
    -ms-transform: rotate(45deg) skewY(-45deg);
    -o-transform: rotate(45deg) skewY(-45deg);
    transform: rotate(45deg) skewY(-45deg);
    background-color:#ffffff;
    border-left:1px solid #1eaace;
    border-bottom:1px solid #1eaace;
}
.sc_chat .sc_chat_avatar {
    width: 75px;
    height:75px;
    float:left;
    margin:0 20px 10px 0;
    overflow:hidden;
}
.sc_chat p {
    margin-bottom:0;
}
.sc_chat_inner .sc_chat_content {
    margin-left: 5.8em;
    padding: 0 1.5em 1.5em;
}
.sc_chat .sc_chat_title {
    margin-left: 5.8em;
    padding: 1.1em 1.5em 0.55em;
    font-size: 1em;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
}
.sc_chat:nth-child(2n+1) .sc_chat_avatar {
    position: absolute;
    right: 0;
    margin-right: 0;
    margin-left: 0.6667em;
}
.sc_chat:nth-child(2n+1) .sc_chat_title {
    margin-right: 5.3em;
    margin-left: 0;
}
.sc_chat:nth-child(2n+1) .sc_chat_content {
    margin-right: 5.3em;
    margin-left: 0;
}
.sc_chat:nth-child(2n+1):after {
    right:5.55em;
    left: auto;
    -webkit-transform: rotate(90deg) skewY(-45deg);
    -moz-transform: rotate(90deg) skewY(-45deg);
    -ms-transform: rotate(90deg) skewY(-45deg);
    -o-transform: rotate(90deg) skewY(-45deg);
    transform: rotate(90deg) skewY(-45deg);
}



/* Clients
-------------------------------------------------------------- */
.sc_clients.sc_slider_swiper:not(.sc_slider_height_auto) .slides .swiper-slide {
	min-height: 3em;
}
.sc_clients_style_clients-2.sc_slider_swiper .sc_clients_item {
	margin-right: 2em;
}
.sc_clients_style_clients-2 .sc_client_hover {
	text-align:center;
}
.sc_clients_style_clients-2 .sc_client_title {
	margin: 0.5em 0 0 0;
	font-size:1.3333em;
	font-weight:400;
}
.sc_clients_style_clients-2 .sc_client_position {
	margin-top:0.25em;
	font-style:italic;
}
.sc_clients_style_clients-2 .sc_client_description {
	font-size:1.2857em;
	font-weight:300;
	font-style:italic;
	line-height:1.3em;
}
.sc_clients_style_clients-2 .sc_client_description:before {
	content: '\e8b6';
	font-family: 'fontello';
	font-size:1.5em;
	font-style:normal;
	line-height:1.5em;
	display:block;
}
.sc_clients_style_clients-2 .sc_client_description p {
	margin:0;
}
.sc_clients_style_clients-2 .sc_client_description p+p {
	margin-top:0.5em;
}
.sc_clients_style_clients-2 .sc_client_image {
	background-color:#fff;
}
.sc_clients_style_clients-2 .sc_client_image img {
	vertical-align:middle;
}
.sc_clients_style_clients-2 .sc_client_info {
	padding-top: 1.5em;
}
.sc_clients_style_clients-2 .sc_client_image {
	position:relative;
}
.sc_clients_style_clients-2 .sc_client_image .sc_client_hover {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	opacity: 0;
	filter: alpha(opacity=0);
	text-align:center;
}
.sc_clients_style_clients-2 .sc_clients_item:hover .sc_client_image .sc_client_hover {
	opacity: 1;
	filter: alpha(opacity=1);
}
.sc_clients_style_clients-2 .sc_client_image .sc_client_hover,
.sc_clients_style_clients-2 .sc_client_image .sc_client_hover .sc_client_info {
	overflow:hidden;
	-webkit-transition: all ease .3s;
	   -moz-transition: all ease .3s;
	    -ms-transition: all ease .3s;
	     -o-transition: all ease .3s;
	        transition: all ease .3s;
}
.sc_clients_style_clients-2 .sc_client_image .sc_client_hover .sc_client_info {
	position:absolute;
	left:0;
	top:50%;
	width:100%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	        transform: translateY(-50%);
	margin-top: 50px;
	padding:1.5em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.sc_clients_style_clients-2 .sc_clients_item:hover .sc_client_image .sc_client_hover .sc_client_info {
	margin-top: 0;
}



/* Columns
-------------------------------------------------------------- */
.sc_columns .sc_column_item_inner {
	padding:1.5em;
}



/* Contact form
-------------------------------------------------------------- */
.sc_contact_form {
	overflow:hidden;
    position: relative;
}
.sc_contact_form .result {
	display:none;
	margin-top:2em;
}
.sc_contact_form .sc_item_descr .sc_socials {
	display:block;
	font-size:0.6667em;
	margin-top:1em;
}
.sc_contact_form .label_over label {
	display:none;
}
.sc_contact_form .sc_contact_form_item {
    margin-bottom:0.6em;
    text-align:center;
}
.sc_contact_form .sc_contact_form_info .sc_contact_form_item {
    width: 47%;
    float: left;
}
.sc_contact_form .sc_contact_form_info .sc_contact_form_item + .sc_contact_form_item {
    margin-left: 6%;
}
footer .sc_contact_form .sc_contact_form_info .sc_contact_form_item {
    width: 100%;
    float: none;
}
footer .sc_contact_form .sc_contact_form_info .sc_contact_form_item + .sc_contact_form_item {
    margin-left: 0;
}
.sc_contact_form .sc_contact_form_info,
.sc_contact_form .sc_contact_form_message {
    width: 66%;
}
footer .sc_contact_form .sc_contact_form_info,
footer .sc_contact_form .sc_contact_form_message  {
    width:100%;
}
.sc_contact_form .sc_contact_form_item input[type="text"],
.sc_contact_form .sc_contact_form_item select,
.sc_contact_form .sc_contact_form_item textarea {
	border: 0;
    line-height: 2;
    height: 2.222em;
    padding-bottom: 0.2em;
    padding-left: 0.7em;
}

.sc_contact_form .sc_contact_form_address_field {
	margin-bottom:2em;
	text-align:left;
}
.sc_contact_form .sc_contact_form_address .sc_socials {
	text-align:left;
	display:block;
}
.sc_contact_form .sc_contact_form_address_label {
	display:block;
	font-weight:400;
}

.sc_contact_form.sc_contact_form_standard .sc_contact_form_field  {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.sc_contact_form .sc_contact_form_item.label_top label {
	display:block;
	margin-bottom:0.4em;
}
.sc_contact_form .sc_contact_form_item.label_bottom label {
	display:block;
	margin-top:0.4em;
}
.sc_contact_form .sc_contact_form_item.label_left {
	overflow:hidden;
}
.sc_contact_form .sc_contact_form_item.label_left label {
	display:inline-block;
	margin-right: 1.5em;
	vertical-align:middle;
}
.sc_contact_form .sc_contact_form_item.label_left input,
.sc_contact_form .sc_contact_form_item.label_left .sc_contact_form_select_container,
.sc_contact_form .sc_contact_form_item.label_left textarea {
	display:inline-block;
	width: auto;
	vertical-align:middle;
}
.sc_contact_form .sc_contact_form_item .sc_contact_form_element {
	width:auto;
	display:inline-block;
}
.sc_contact_form .sc_contact_form_item .sc_contact_form_element+.sc_contact_form_element {
	margin-left:2em;
}
.sc_contact_form .sc_contact_form_item .sc_contact_form_element input,
.sc_contact_form .sc_contact_form_item .sc_contact_form_element label {
	width:auto;
	margin-right:0.5em;
	display:inline-block;
}
.sc_contact_form .sc_contact_form_item .sc_contact_form_element input[type="radio"],
.sc_contact_form .sc_contact_form_item .sc_contact_form_element input[type="checkbox"] {
	display:none;
}
.sc_contact_form .sc_contact_form_item .sc_contact_form_element input[type="radio"] + label,
.sc_contact_form .sc_contact_form_item .sc_contact_form_element input[type="checkbox"] + label {
	position:relative;
	padding-left:1.75em;
	line-height:1.5em;
}
.sc_contact_form .sc_contact_form_item .sc_contact_form_element input[type="radio"] + label:before,
.sc_contact_form .sc_contact_form_item .sc_contact_form_element input[type="checkbox"] + label:before {
	content:' ';
	font-family:fontello;
	display:block;
	text-align:center;
	border: 1px solid #ebebeb;
	position:absolute;
	left:0;
	top:3px;
	width:1em;
	height:1em;
	line-height:1em;
}
.sc_contact_form .sc_contact_form_item .sc_contact_form_element input[type="radio"] + label:before {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
}
.sc_contact_form .sc_contact_form_item .sc_contact_form_element input[type="checkbox"]:checked + label:before {
	content:'\e8ab';
}
.sc_contact_form .sc_contact_form_item .sc_contact_form_element input[type="radio"]:checked + label:before {
	content:'\e8e4';
}

.sc_contact_form .sc_contact_form_field input,
.sc_contact_form .sc_contact_form_message textarea {
	width:100%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.sc_contact_form .sc_contact_form_message textarea {
	min-height:10em;
}
footer .sc_contact_form .sc_contact_form_message textarea {
    min-height:6.95em;
}
.sc_contact_form_select_container {
	width:100%;
	overflow:hidden;
	position:relative;
}
.sc_contact_form_select_container:after {
	content:'\e828';
	font-family:fontello;
	display:block;
	text-align:center;
	position:absolute;
	right:0;
	top:0;
	width:1.5em;
	height:3.5em;
	line-height:3.5em;
	z-index:0;
	pointer-events: none;
	cursor:pointer;
}
.sc_contact_form_select_container select {
	width:100%;
	padding-left: 0.5em !important;
	background:none !important;
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
	        box-sizing: content-box;
}

.sc_contact_form .sc_contact_form_button { 
	text-align:left;
	top: 0;
    right: 0;
    position: absolute;
    width: auto;
}
footer .sc_contact_form .sc_contact_form_button {
    position: relative;
    margin: 1.2em 0 0;
}
.sc_contact_form .sc_contact_form_item.sc_contact_form_button button { 
	-webkit-transition: all ease .3s;
	   -moz-transition: all ease .3s;
	    -ms-transition: all ease .3s;
	     -o-transition: all ease .3s;
	        transition: all ease .3s;
}

.sc_contact_form_style_2 .sc_contact_form_item,
.sc_contact_form_style_2 .sc_contact_form_button,
.sc_contact_form_style_2 .sc_contact_form_item input[type="text"],
.sc_contact_form_style_2 .sc_contact_form_item select,
.sc_contact_form_style_2 .sc_contact_form_item textarea {
	text-align:left;
}


.sc_contact_form.doctor .sc_contact_form_info,
.sc_contact_form.doctor .sc_contact_form_message {
    width: 100%;
}
.sc_contact_form.doctor .sc_contact_form_button {
    position: relative;
    margin-top: 1.1em;
}
.sc_contact_form.doctor .sc_contact_form_message textarea {
    min-height: 7em;
}
/* Content
-------------------------------------------------------------- */
.sc_content {
	/*overflow:hidden;*/
}



/* Countdown
-------------------------------------------------------------- */
.sc_countdown {
	overflow:hidden;
    display: inline-block !important;
}
.sc_countdown .sc_countdown_item {
	display:block;
	float:left;
	text-align:center;
}
.sc_countdown .sc_countdown_digits {
	display:block;
	overflow:hidden;
	text-align:center;
	margin-bottom: 8px;
}
.sc_countdown .sc_countdown_digits span {
	display:inline-block;
}
.sc_countdown .sc_countdown_separator {
	display:block;
	float:left;
	margin: 0 8px;
}

/* Countdown Style 1 */
.sc_countdown.sc_countdown_style_1 .sc_countdown_digits,
.sc_countdown.sc_countdown_style_1 .sc_countdown_separator {
	font-size:2.45em;
	height: 2.45em;
	line-height:2.45em;
	margin-bottom:6px;
}
.sc_countdown.sc_countdown_style_1 .sc_countdown_digits {
	width: 2.45em;
	border-width: 6px;
	border-style: solid;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
}
.sc_countdown.sc_countdown_style_1 .sc_countdown_label {
	font-weight:400;
}

/* Countdown Style 2 */
.sc_countdown.sc_countdown_style_2 .sc_countdown_digits,
.sc_countdown.sc_countdown_style_2 .sc_countdown_separator {
	font-size:4.444em;
	font-weight:400;
	height: 1.3542em;
	line-height:1.3542em;
    padding: 0.17em 0.23em 0 0.23em;
	
}
.sc_countdown.sc_countdown_style_2 .sc_countdown_separator {
   display: none;
}
.sc_countdown.sc_countdown_style_2 .sc_countdown_digits span {
	display:inline-block;
	text-align:center;
	width: 0.5em;
	color: #ffffff;
}
.sc_countdown.sc_countdown_style_2 .sc_countdown_item  {
    margin-left: 1.8em;
}


.sc_countdown.sc_countdown_style_2 .sc_countdown_item.sc_countdown_days {
    margin-left: 0;
}
.sc_countdown.sc_countdown_style_2 .sc_countdown_label {
	font-weight:400;
    display: block;
    padding: 0.25em 0 0.3em;
}
.sc_countdown.sc_countdown_style_2 .sc_countdown_item.sc_countdown_days  {
    background: #f1794a;
}
.sc_countdown.sc_countdown_style_2 .sc_countdown_item.sc_countdown_hours  {
    background: #6fbac9;
}
.sc_countdown.sc_countdown_style_2 .sc_countdown_item.sc_countdown_minutes  {
    background: #7abb6d;
}
.sc_countdown.sc_countdown_style_2 .sc_countdown_item.sc_countdown_seconds  {
    background: #f0cd3a;
}

.sc_countdown.sc_countdown_style_2 .sc_countdown_item.sc_countdown_seconds .sc_countdown_label  {
    background: #ffdc4a;
}




/* Dropcaps
-------------------------------------------------------------- */
.sc_dropcaps {
	overflow:hidden;
}
.sc_dropcaps .sc_dropcaps_item {
	font-size: 2.25em;
	font-weight:400;
	line-height:1em;
	display: block;
	padding: 0 10px;
	margin:0 8px 2px 0;
	float:left;
}
.sc_dropcaps.sc_dropcaps_style_1 .sc_dropcaps_item {
	font-size:3.05em;
    margin-right: 0.4em;
	padding:0;
}
.sc_dropcaps.sc_dropcaps_style_2 .sc_dropcaps_item {
    font-size: 5.55em;
    margin-right: 0.45em;
    padding: 0;
} 
.sc_dropcaps.sc_dropcaps_style_3 .sc_dropcaps_item {
    font-size: 3.05em;
    padding: 0.15em 0.35em;
    margin-right: 0.5em;
}
.sc_dropcaps.sc_dropcaps_style_4 .sc_dropcaps_item {
	line-height:1.3em;
	margin-top:2px;
} 



/* Emailer
-------------------------------------------------------------- */
.sc_emailer {
	display:inline-block;
	padding:0.25em;
	border:1px solid #ddd;
	overflow:hidden;
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
			border-radius: 20px;
}
.sc_emailer .sc_emailer_button {
	display:inline-block;
	text-align:center;
	width:2em;
	height:2em;
	line-height:2em;
}
.sc_emailer input {
	display:inline-block;
	line-height:2em;
	padding:0;
	width:0;
}
.sc_emailer.sc_emailer_opened {
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
}
.sc_emailer input {
	background-color:transparent !important;
}
.sc_emailer.sc_emailer_opened input {
	width:250px;
}
.sc_emailer,
.sc_emailer input {
	-webkit-transition: all ease .3s;
	   -moz-transition: all ease .3s;
	    -ms-transition: all ease .3s;
	     -o-transition: all ease .3s;
	        transition: all ease .3s;
}




/* Google map
------------------------------------------------------------- */
.sc_googlemap img {
	max-width: none;
}




/* Icon
-------------------------------------------------------------- */
.sc_icon {
	display:inline-block;
	position:relative;
	margin-right:0.25em;
	-webkit-transition: all ease .3s;
	   -moz-transition: all ease .3s;
	    -ms-transition: all ease .3s;
	     -o-transition: all ease .3s;
	        transition: all ease .3s;
}
.sc_icon_shape_square,
.sc_icon_shape_round {
	display:inline-block; 
	padding: 4px;
	text-align:center;
	width: 1.2em;
	height: 1.2em;
	line-height: 1.2em;
	border: 0.05em solid #f4f7f9;
}
.sc_icon_shape_round,
a.sc_icon.sc_icon_shape_round:after,
a .sc_icon.sc_icon_shape_round:after {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
}
.sc_icon.sc_icon_shape_square:hover,
.sc_icon.sc_icon_shape_round:hover,
a.sc_icon.sc_icon_shape_square:hover,
a.sc_icon.sc_icon_shape_round:hover,
a:hover .sc_icon.sc_icon_shape_square,
a:hover .sc_icon.sc_icon_shape_round {
	background-color:transparent;
}

a.sc_icon.sc_icon_shape_round:after,
a.sc_icon.sc_icon_shape_square:after,
a .sc_icon.sc_icon_shape_round:after,
a .sc_icon.sc_icon_shape_square:after {
    background-color: inherit;
    box-sizing: content-box;
    content: " ";
    height: 100%;
    width: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
	-webkit-transition: all ease 0.3s;
	   -moz-transition: all ease 0.3s;
	    -ms-transition: all ease 0.3s;
	     -o-transition: all ease 0.3s;
	        transition: all ease 0.3s;
    z-index: -1;
}
a.sc_icon.sc_icon_shape_round:hover:after,
a.sc_icon.sc_icon_shape_square:hover:after,
a:hover .sc_icon.sc_icon_shape_round:after,
a:hover .sc_icon.sc_icon_shape_square:after {
    opacity: 0;
    transform: scale(1.8);
}


/* Image
-------------------------------------------------------------- */
.sc_image {
	overflow:hidden;
}
figure figcaption,
.sc_image figcaption {
	font-size: 1em;
    text-align: center;
}
.sc_image figcaption span {
	display:inline-block;
	margin-right: 0.3em;
}

.sc_image.sc_image_shape_round {
	display: block;
	position:relative;
	overflow:hidden;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
}
.sc_image.sc_image_shape_round figcaption {
	top:0;
	bottom:0;
	padding:0;
	font-size:1em;
	line-height:1.3em;
	text-align:center;
	overflow:hidden;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
}
.sc_image_shape_round:hover figcaption {
	opacity:0;
	margin-bottom: 0;
	-webkit-transform: rotate(360deg);
	   -moz-transform: rotate(360deg);
	     -o-transform: rotate(360deg);
	    -ms-transform: rotate(360deg);
}
.sc_image_shape_round figcaption span {
	display:block;
	margin: 0 auto;
	font-size:2em;
}
.sc_image_shape_round figcaption span:before {
	display:block;
	margin: 35% auto 0.5em;
}



/* Infobox
-------------------------------------------------------------- */
.sc_infobox {
	display: block;
	margin:1.25em 0;
	color: #ffffff;
	font-weight: 300;
	line-height:1.3em;
    padding: 1.4em 0 1.2em;
	clear: both;
    padding-right: 0.5em;
}
.sc_infobox.sc_infobox_style_info {		background-color:#ffb20e; }
.sc_infobox.sc_infobox_style_success {	background-color:#1dbb90; }
.sc_infobox.sc_infobox_style_error {	background-color:#e05100; }

.sc_infobox b,
.sc_infobox strong { 
	font-weight: 900;
}
.sc_infobox p {
	margin: 0;
}
.sc_infobox p+p,.sc_infobox h1+p,.sc_infobox h2+p,.sc_infobox h3+p,.sc_infobox h4+p,.sc_infobox h5+p,.sc_infobox h6+p {
	margin-top: 1em;
}
.sc_infobox h1, .sc_infobox h2, .sc_infobox h3, .sc_infobox h4, .sc_infobox h5, .sc_infobox h6 {
	text-align:left;
	margin:0;
	line-height:1.2em;
	color: inherit;
}

.sc_infobox {
	position:relative;
	padding-left: 2.25em;
}
.sc_infobox.sc_infobox_iconed:before {
	font-size:1.8em;
	line-height:1em;
	margin-right:0.6em;
	position:absolute;
    left: 1.1em;
    top: 0.8em;
}
.sc_infobox.sc_infobox_style_regular:before {
    transform: rotate(55deg);
}
.sc_infobox_style_regular:before {
    font-family: Fontello;
    content: '\e8ef';
}
.sc_infobox_style_success:before {
    font-family: Fontello;
    content: '\e8f0';
}
.sc_infobox_style_result:before {
    font-family: Fontello;
    content: '\e8e0';
}
.sc_infobox_style_info:before {
    font-family: Fontello;
    content: '\e8f1';
}
.sc_infobox_style_error:before {
    font-family: Fontello;
    content: '\e8f2';
}

.sc_infobox.sc_infobox_closeable {
	cursor: pointer;
	padding-right: 3.5em;
}
.popup_wrap .form_wrap .sc_infobox.result {
    padding: 1em;
}

.popup_wrap .form_wrap .sc_infobox.result:before {
    display: none;
}
.sc_infobox.result {
    padding: 1em;
}
.sc_infobox.result:before {
   display: none;
}
.sc_infobox.sc_infobox_closeable:after {
	content: '\e8ac';
    font-size: 0.7em;
	font-family: "fontello";
	cursor:pointer;
	position:absolute;
	right:1.25em;
	top:1.5em;
}
.infobox_title {
    display: block;
    font-weight: 400;
    font-size: 1.222em;
    margin-bottom: 0.95em;
}
.sc_infobox_iconed .infobox_title {
    padding-left: 2em;
}


/* List
-------------------------------------------------------------- */
.sc_list {
    line-height:1.65em;
}
ul.sc_list_style_iconed {
	padding-left: 0;
}
.sc_list_style_iconed li {
	padding: 0 0 0 1.5em;
	list-style: none;
	position: relative;
}
.sc_list_style_iconed li .sc_list_icon {
	position:absolute;
	left: 0;
	top: 0;
	width: 1em;
	display:inline-block;
	text-align:center;
}
.sc_list_style_ul {
    list-style: none;
    padding-left: 0;
}
.sc_list_style_ul li {
    border-bottom: 1px dotted;
    margin-bottom: 0.28em;
}
.sc_list_style_ul li:last-child {
    border-bottom: 0;
}
.sc_list_style_iconed li .sc_list_icon.icon-stop {
    font-size: 0.4em;
}
ol {
    list-style-type: none;
    counter-reset: num;
    padding-left: 0;
}
ol > li {
    position: relative;
    padding: 0 0 0 1em;
}
ol > li::before {
    content: counter(num) '. ';
    font-family: Oswald, sans-serif;
    counter-increment: num;
    font-size: 0.88em;
    margin-right: 0.3em;
    position:absolute;
    left: 0;
    top: 0;
}



/* Line
-------------------------------------------------------------- */
.sc_line {
	display: block;
	width: 100%;
	height: 0px;
	border-top: 1px solid #e1e4e9;
    margin: 4.3em 0 4.1em;
}
.sc_line.sc_line_style_dashed { border-style: dashed; }
.sc_line.sc_line_style_dotted { border-style: dotted; }
.sc_line.sc_line_style_double { height: 4px; border-bottom-width: 1px; }




/* Number
-------------------------------------------------------------- */
.sc_number_item {
	display: inline-block;
	text-align:center;
	font-size: 3em;
	font-weight:400;
	width: 1em;
	height: 1.25em;
	line-height:1.25em;
	background-color:rgba(0,0,0, 0.15);
	color: #ffffff;
}
.sc_number_item+.sc_number_item {
	margin-left:2px;
}



/* Parallax
-------------------------------------------------------------- */
.sc_parallax {
	position: relative;
	overflow: hidden;
	background-repeat:no-repeat;
}
.sc_parallax .sc_parallax_content {
	position: relative;
	overflow: hidden;
	z-index: 2;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background-repeat:no-repeat;
}
.sc_parallax .sc_parallax_overlay {
	overflow: hidden;
}
.sc_parallax .sc_video_bg_wrapper {
	position:absolute;
	z-index: 1;
	left: 0;
	top: 0;
	right:0;
	bottom:0;
}
.sc_parallax video.sc_video_bg { 
	opacity: 0;
	filter: alpha(opacity=0);
}




/* Popup
-------------------------------------------------------------- */
.sc_popup {
	position: relative;
	background-color: #fff;
	padding: 24px 20px 20px 20px;
	width: auto;
	max-width: 500px;
	max-height:600px;
	margin: 20px auto;
	border: 1px solid #ddd;
	overflow-x:hidden;
	overflow-y:auto;
}
.sc_popup:before {
	height: 4px;
	content: ' ';
	position: absolute;
	width: 100%;
	top: -1px;
	left: -1px;
	display: block;
	padding: 0 1px;
}
.sc_popup.mfp-hide {
	display:none;
}
.sc_popup .mfp-close {
	top:3px;
	width:1em;
	height:1em;
	line-height:1em;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
}
.sc_popup .mfp-close:active {
	top:3px;
}



/* Price
-------------------------------------------------------------- */
.sc_price {
	display:inline-block;
	position:relative;
}
.sc_price .sc_price_currency,
.sc_price .sc_price_money {
	font-size:1.875em;
	line-height:1em;
	color: #222222;
}
.sc_price .sc_price_info {
	display:inline-block;
	position:relative;
	vertical-align:baseline;
}
.sc_price .sc_price_penny {
	display:block;
	text-decoration:underline;
	margin-bottom:0.2em;
	margin-left:0.1em;
	font-size: 0.75em;
	line-height:1em;
	color: #222222;
}
.sc_price .sc_price_period:before {
	content:'/';
	display:inline-block;
	margin-left:0.3em;
	margin-right:0.3em;
}
.sc_price .sc_price_period_empty:before {
	content:' ';
	display:inline-block;
}



/* Price block
-------------------------------------------------------------- */
.sc_price_block {
	display:inline-block;
	overflow:hidden;
}
.sc_price_block .sc_price_block_title {
	text-align:center;
	font-size: 2.1875em;
	line-height: 2.4571em;
	min-height: 2.4571em;
	background-color:rgba(0,0,0, 0.1);
}
.sc_price_block .sc_price_block_money {
	text-align:center;
	font-size: 1.125em;
	line-height: 6.1111em;
	height: 6.1111em;
	overflow:hidden;
}
.sc_price_block .sc_price_block_money .sc_price_block_icon {
	font-size: 4em;
	line-height:inherit;
	display:inline-block;
}
.sc_price_block .sc_price_block_money .sc_price {
	display:inline-block;
}
.sc_price_block .sc_price_block_money .sc_price_block_icon + .sc_price {
	margin-left:0.5em;
}
.sc_price_block .sc_price_block_money .sc_price_currency {
	font-weight:400;
	font-size: 4em;
	line-height:inherit;
}
.sc_price_block .sc_price_block_money .sc_price_money {
	font-weight:900;
	font-size: 4em;
	line-height:inherit;
}
.sc_price_block .sc_price_block_description {
	text-align:center;
	font-size: 0.875em;
	line-height: 1.3em;
	height:4.2857em;
	padding:0 2em;
	overflow:hidden;
}
.sc_price_block .sc_price_block_link {
	height:4.5em;
	text-align:center;
	padding-top:0.875em;
}
.sc_price_block .sc_price_block_link .sc_button {
	background-color:rgba(0,0,0, 0.2);
}
.sc_price_block.sc_price_block_style_3 .sc_price_block_link .sc_button:hover {
	background-color:#ef631f !important;
}




/* Scroll
-------------------------------------------------------------- */
.sc_scroll {
	overflow: hidden;
	width: 100%;
	position:relative;
}
.sc_scroll_wrapper {
	overflow: hidden;
}
.sc_scroll_horizontal .sc_scroll_wrapper {
	width: 100000px;
}
.sc_scroll_horizontal {
	width:100%;
	padding-bottom:10px;
}
.sc_scroll_vertical {
	min-height:200px;
	padding-right:6px;
}
.sc_scroll_vertical .swiper-slide {
	float: none;
	display:block;
}
/* Scroll bar */
.sc_scroll_bar {
	background:transparent;
	position:absolute;
	z-index:100;
}
.sc_scroll_vertical .sc_scroll_bar {
	right:1px;
	top:0;
	bottom:0;
	width:10px;
	border-right:1px solid #dddddd;
}
.sc_scroll_horizontal .sc_scroll_bar {
	right:0;
	left:0;
	bottom:1px;
	height:10px;
	border-bottom:1px solid #dddddd;
}

.sc_scroll_bar .swiper-scrollbar-drag {
	background:none !important;
}
.sc_scroll_vertical .sc_scroll_bar .swiper-scrollbar-drag {
	width:10px;
	left:2px;
}
.sc_scroll_horizontal .sc_scroll_bar .swiper-scrollbar-drag {
	height:10px;
	top:2px;
}
.sc_scroll_bar .swiper-scrollbar-drag:before {
	content:' ';
	display:block;
	position:absolute;
	background-color: #1dbb90;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
}
.sc_scroll_vertical .sc_scroll_bar .swiper-scrollbar-drag:before {
	width:3px;
	right:-2px;
	top:0;
	bottom:0;
	height:100%;
}
.sc_scroll_horizontal .sc_scroll_bar .swiper-scrollbar-drag:before {
	height:3px;
	left:0;
	right:0;
	bottom:-2px;
	width:100%;
}

/* Scroll controls */
.sc_scroll_container {
	position:relative;
}
.sc_scroll_controls_type_top .sc_scroll_controls_wrap {
	position: absolute;
	top:-5.5em;
	right:0;
	width:12em;
	padding-bottom:5px;
	overflow:hidden;
	text-align:right;
}
.sc_scroll_controls_type_side .sc_scroll_controls_wrap {
	position: absolute;
	top:50%;
	left:0;
	width:100%;
	height: 0;
}
.sc_scroll_controls_type_side .sc_scroll_controls_wrap a {
	margin-top:-25px;
	margin-left: -80px;
	display:block;
	position:absolute;
	top:0;
	left:8px;
	opacity:0;
}
.sc_scroll_controls_type_side .sc_scroll_controls_wrap a+a {
	left:auto;
	right:8px;
	margin-right: -80px;
}
.sc_scroll_controls_type_side:hover .sc_scroll_controls_wrap a {
	margin-left:0;
	margin-right:0;
	opacity:1;
}
.sc_scroll_controls_wrap a {
	display: inline-block;
	text-align:center;
	font-size: 1.5em;
	width: 2em;
	height: 2em;
	line-height: 2em;
	margin-left: 0.6667em;
}
.sc_scroll_controls_wrap a:before {
	font-family:fontello;
}
.sc_scroll_controls_wrap .sc_scroll_next:before {
	content:'\e836';
}
.sc_scroll_controls_wrap .sc_scroll_prev:before {
	content:'\e837';
}
.sc_scroll_controls_vertical .sc_scroll_controls_wrap .sc_scroll_next:before {
	content:'\e828';
}
.sc_scroll_controls_vertical .sc_scroll_controls_wrap .sc_scroll_prev:before {
	content:'\e835';
}




/* Section
------------------------------------------------------------ */
.sc_section {
	position: relative;
	/*overflow: hidden;*/
	padding:1px 0;
}
.sc_section:after {
	content:' ';
	display:block;
	width:100%;
	height:0;
	clear:both;
}
.sc_section:not(.sc_scroll_controls) .sc_section_overlay,
.sc_section .sc_section_overlay {
	overflow: hidden;
}
.sc_section .sc_section_overlay {
	padding: 1em 1.5em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.sc_pan {
	position:absolute;
	width:100%; 
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
/*
.sc_pan_vertical { cursor: n-resize; }
.sc_pan_horizontal { cursor:e-resize; }
*/
.sc_pan_vertical,
.sc_pan_horizontal {
	cursor: all-scroll;
}



/* Services
-------------------------------------------------------------- */
.sc_services_item .sc_services_item_title {
	margin:1.85em 0;
	font-size:1.2857em;
}
.sc_services_item .sc_services_item_description {
	line-height:1.75em;
	overflow:hidden;
}
.sc_services_item .sc_services_item_description p {
	margin-bottom:0;
}
.sc_services_item .sc_icon {
	display: block;
	width:2.21em;
	height: 2.21em;
	line-height:2.21em;
	margin:0 auto;
	text-align:center;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
}
.sc_services_item .sc_icon:before {
	font-size:1em;
}
.sc_services_item .sc_services_item_readmore {
	display:block;
	margin-top: 1em;
}
.sc_services_item .sc_services_item_readmore span {
	display:inline-block;
	margin-left:0.5em;
}

.sc_services.sc_slider_swiper .sc_services_item_wrap {
	padding-right: 2em;
}

.sc_services_style_services-1 .sc_services_item {
	text-align:left;
	padding: 2.5em;
}
.sc_services_style_services-1.sc_services_type_images .sc_services_item {
	padding:0;
}
.sc_services_style_services-1.sc_services_type_images .sc_services_item_content {
	padding:0 0 2.85em;
}
.sc_services_style_services-1.sc_services_type_images .sc_services_item_title {
    margin-top: 1.75em;
    line-height: 1.55;
}
.sc_services_style_services-1 .sc_icon,
.sc_services_style_services-2 .sc_icon {
	border: 2px solid #ddd;
}
.sc_services_style_services-2 .sc_icon,
.sc_services_style_services-2.sc_services_type_images .sc_services_item_featured {
	float:left;
	margin-right:2.2857em;
}
.sc_services_style_services-2.sc_services_type_images .sc_services_item_featured {
	width:30%;
}
.sc_services_style_services-2 .sc_services_item_title {
	margin-top:0;
}
.sc_services_style_services-3 .sc_services_item_title {
	text-align:center;
	text-transform:uppercase;
	font-weight:400;
	font-size:2.222em;
    margin: 0 0 0.7em 0;
}
.sc_services_style_services-3 .sc_icon {

}
.sc_services_style_services-4 .sc_services_item {
	margin-bottom:0.5em;
}
.sc_services_style_services-4 .sc_icon {
	width:1.5em;
	height:1.5em;
	line-height:1.4em;
	margin:0 0.5em 0 0;
	float:left;
}
.sc_services_style_services-4 .sc_icon:before {
	font-size:0.8571em;
	margin-right:0;
}
.sc_services_style_services-4 .sc_services_item_title {
	margin: 0;
	font-size:1em;
	line-height:1.3em;
}
.sc_services_style_services-4 .sc_services_button {
	margin-top:3em;
}
.sc_services_style_services-3 .sc_services_item {
    position: relative;
    padding-top: 2.75em;
    padding-bottom: 2.35em;
}
.sc_services_style_services-3 .sc_services_item .sc_services_item_description {
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    position: absolute;
    padding: 2.5em 2em 0;
    box-sizing: border-box;
    text-align: center;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}
.sc_services_style_services-3 .sc_services_item:hover .sc_services_item_description{
    opacity: 1;
}

/* Skills
-------------------------------------------------------------- */
.sc_skills {
	width: 100%;
}

/* Type Counter */
.sc_skills_counter {
	text-align: center;
}
.sc_skills_counter .sc_skills_item {
	text-align: center;
	display: inline-block;
	padding: 0 10px;
}
.sc_skills_counter .sc_skills_item .sc_skills_icon {
	font-size: 3em;
	font-weight:300;
	line-height:1.3em;
	margin-bottom:0.5em;
}
.sc_skills_counter .sc_skills_item .sc_skills_count {
	font-size: 3.2143em;
	line-height: 1em;
}
.sc_skills_counter .sc_skills_item .sc_skills_count .sc_skills_total {
	position:relative;
	z-index:1;
}
.sc_skills_counter .sc_skills_item .sc_skills_info {
	color: #222222;
	font-size: 1.125em;
	line-height: 1.3em;
	margin: 10px 0;
}
.sc_skills_counter .sc_skills_item.sc_skills_style_1 {
	width:100%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 3em 1em;
}
.sc_skills_counter .sc_skills_item.sc_skills_style_1 .sc_skills_count {
	font-weight: 900;
}
.sc_skills_counter .sc_skills_item.sc_skills_style_1 .sc_skills_info {
	margin-top:1em;
	padding-top:1em;
	position:relative;
	text-transform:uppercase;
}
.sc_skills_counter .sc_skills_item.sc_skills_style_1 .sc_skills_info:before {
	content:' ';
	position:absolute;
	top:0;
	left: 30%;
	display:block;
	width: 40%;
	height: 2px;
	background-color:#ddd;
}
.sc_skills_counter .sc_skills_item.sc_skills_style_2 .sc_skills_count {
	font-weight: 300;
}
.sc_skills_counter .sc_skills_item.sc_skills_style_3 .sc_skills_count { 
	font-weight: 300;
	color:#fff;
	padding: 0 10px;
	position: relative;
	overflow: hidden;
	font-size: 3.75em;
	height: 1.3333em;
	line-height: 1.3333em;
}
.sc_skills_counter .sc_skills_item.sc_skills_style_3 .sc_skills_count:before {
	content: ' ';
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
    border-top: 1.3333em solid #fff; 
    border-right: 1.6667em solid transparent;	
	opacity: 0.2;
	filter: alpha(opacity=20);
}
.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_count {
	font-weight: 300;
	color:#fff;
	padding: 0 10px;
	font-size: 3.75em;
	line-height: 1.3333em;
	height: 1.3333em;
}
.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_info {
	color: #fff;
	padding: 10px;
	margin:0;
	position: relative;
	border-top: 1px solid #fff;
}
.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_info:before {
	position: absolute;
	top: 0;
	left: 0;
	content: ' ';
	background-color: #000;
	z-index: 1;
	width: 100%;
	height: 100%;  
	opacity: 0.1;			
	filter: alpha(opacity=10);
}
.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_info .sc_skills_label {
	position:relative;
	z-index:2;
}

.sc_skills_counter .sc_skills_button {
	margin-top:3em;
}

/* Type Bar */
.sc_skills_bar .sc_skills_item {
	height:1.7em;
	line-height: 1.6em;
    font-size: 0.94em;
    background-color:#f4f7f9;
	position:relative;
	overflow:hidden;
}
.sc_skills_bar .sc_skills_item .sc_skills_count {
	text-align:right;
	width:0;
	height: 1.5625emem;
	color:#fff;
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	z-index:2;
}
.sc_skills_bar .sc_skills_info {
	margin: 10px 0 5px 0;
}
.sc_skills_bar .sc_skills_info .sc_skills_label {
	color: #222222;
}
.sc_skills_bar.sc_skills_vertical .sc_skills_columns .sc_skills_item {
	height: 30em;
}
.sc_skills_bar.sc_skills_vertical .sc_skills_columns .sc_skills_item .sc_skills_count {
	width: 100%;
	height: auto;
	top: auto; 
	bottom: 0;
}
.sc_skills_bar.sc_skills_vertical .sc_skills_columns .sc_skills_total { 
	text-align: center;
	font-size: 1.25em;
	width: 100%;
	line-height: 3em;
	font-weight: 300;
}
.sc_skills_bar.sc_skills_vertical .sc_skills_columns .sc_skills_column {
	text-align:center;
}
.sc_skills_bar.sc_skills_horizontal .sc_skills_columns .sc_skills_info { 
	margin-top: 0;
}
.sc_skills_bar.sc_skills_horizontal .sc_skills_total {
	text-align: right;
	padding-right: 10px;
}


/* Type Pie */
.sc_skills_pie.sc_skills_compact_off {
	text-align: center;
	display: inline-block;
}
.sc_skills_pie.sc_skills_compact_off .sc_skills_total {
	font-size: 1.125em;
}

.sc_skills_pie.sc_skills_compact_on {
	overflow:hidden;
}
.sc_skills_pie.sc_skills_compact_on .sc_skills_item {
	min-width:100px;
	min-height:100px;
	float:left;
	width:41%;
}


/* Type Arc */
.sc_skills_arc {
	overflow:hidden;
}
.sc_skills_arc .sc_skills_arc_canvas {
	min-width:100px;
	min-height:100px;
	float:left;
	width:60%;
}
.sc_skills_arc .sc_skills_legend {
	width:40%;
}

.sc_skills_legend_item {
    margin-bottom: 0.25em;
}
/* Legend */
.sc_skills_legend {
	width:59%;
	float:left;
    font-family: "Roboto Condensed";
    margin-top: 1.2em;
}
.sc_skills_legend_marker {
	display: inline-block;
    margin: 0 1em 2px 0;
	width:11px;
	height:11px;
	line-height:1.5em;
	overflow:hidden;

}
.sc_skills_legend_title,
.sc_skills_legend_value {
    font-size: 0.94em;
}
.sc_skills_legend_value {
	display:inline-block;
	margin-left:6px;
}
.sc_skills_legend_value:before {
	content: '(';
}
.sc_skills_legend_value:after {
	content: '%)';
}



/* Slider
-------------------------------------------------------------- */

.sc_slider {
	overflow:hidden;
}
.sc_slider_height_auto {
 -webkit-transition: height ease .5s;
    -moz-transition: height ease .5s;
     -ms-transition: height ease .5s;
      -o-transition: height ease .5s;
         transition: height ease .5s; 
}
.sc_slider_swiper {
	position: relative;
	overflow: hidden;
}
.sc_slider_swiper .slides {
	overflow: hidden;
    max-height: 410px;
}
.sc_slider_swiper .slides .swiper-slide {
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	position: absolute;
}
.sc_slider_swiper:not(.sc_slider_height_auto) .slides .swiper-slide {
	min-height:8em;
}
.sc_slider_swiper .slides .swiper-slide > img {
	width: 100%;
	height: auto;
}

/* Prev / Next controls */
.sc_slider_controls_wrap {
	color:#ffffff;
	position:absolute;
	left:0;
	right:0;
	top:50%;
	padding-bottom:5px;
	height:0;
}
.sc_testimonials .sc_slider_controls_wrap {
    top:55%;
}
.sc_slider_nocontrols .sc_slider_controls_wrap {
	display:none !important;
}
.sc_slider_controls_wrap a {
    display: block;
    cursor: pointer;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    line-height: 1.8em;
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    margin-top: -1.6em;
    opacity: 0;
    filter: alpha(opacity=0);
}
.sc_slider_controls_wrap .sc_slider_prev {
	float:left;
	margin-left: -100px;
}
.sc_slider_controls_wrap .sc_slider_next {
	float:right;
	margin-right: -100px;
}
.sc_slider_controls_wrap a:before {
	font-family:'fontello';
}
.sc_slider_controls_wrap .sc_slider_next:before {
	content:'\e836';
}
.sc_slider_controls_wrap .sc_slider_prev:before {
	content:'\e837';
}
.sc_slider_swiper:hover .sc_slider_controls_wrap a,
.sc_slider_swiper + .sc_slider_controls_wrap a {
	opacity: 1;
	filter: alpha(opacity=1);
}
.sc_slider_swiper:hover .sc_slider_controls_wrap .sc_slider_prev {
	margin-left: 20px;
}
.sc_slider_swiper:hover .sc_slider_controls_wrap .sc_slider_next {
	margin-right: 20px;
}

/* Side controls */
.sc_slider_swiper + .sc_slider_controls_wrap a {
	width:40px;
	height:40px;
	line-height: 40px;
	font-size: 20px;
}
.sc_slider_swiper + .sc_slider_controls_wrap .sc_slider_prev {
	margin-left: 15px;
}
.sc_slider_swiper + .sc_slider_controls_wrap .sc_slider_next {
	margin-right: 15px;
}

/* Top controls */
.sc_slider_swiper.sc_slider_controls_top + .sc_slider_controls_wrap {
	top:6px;
	right: 6px;
	text-align:right;
	cursor:default;
	-webkit-transform: translateY(0);
	   -moz-transform: translateY(0);
	        transform: translateY(0);
}
.sc_slider_swiper.sc_slider_controls_top + .sc_slider_controls_wrap .sc_slider_next,
.sc_slider_swiper.sc_slider_controls_top + .sc_slider_controls_wrap .sc_slider_prev {
	display:inline-block;
	float:none;
	margin-left: 6px;
	margin-right: 0;
}


/* White circles with accent hover */
.sc_slider_nopagination .sc_slider_pagination_wrap {
	display:none !important;
}
.sc_slider_swiper .sc_slider_pagination_wrap {
    padding-top: 1.5em;
    height: 1.2em;
    margin: 0;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}
.sc_slider_swiper:hover .sc_slider_pagination_wrap {
	bottom: 20px;
	-webkit-transition: all ease .5s .5s;
	-moz-transition: all ease .5s .5s;
	-ms-transition: all ease .5s .5s;
	-o-transition: all ease .5s .5s;
	transition: all ease .5s .5s;
}
.sc_slider_swiper .sc_slider_pagination_wrap span {
	display:inline-block;
	vertical-align:top;
	background-color:transparent;
	width:8px;
	height:8px;
	margin:0 0.75em 0 0;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
	cursor:pointer;
}
.sc_slider_swiper .sc_slider_pagination_wrap .swiper-active-switch,
.sc_slider_swiper .sc_slider_pagination_wrap span:hover {
	background-color:#ddd;
}

/* Full pagination - posts titles */
.sc_slider_pagination_area {
	overflow:hidden;
	position:relative;
}

.sc_slider_pagination_area .sc_slider {
	float:left;
}
.sc_slider_pagination_area:not(.sc_slider_pagination_over) .sc_slider {
	width:67%;
}
.sc_slider_pagination_area .sc_slider_pagination {
	float:left;
	width:33%;
	position:static;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.sc_slider_pagination_over .sc_slider_pagination {
	position:absolute;
	width:40%;
	left: auto;
	right:-40%;
	top:0;
	bottom:auto;
	float:none;
	background-color:rgba(255,255,255, 0.8);
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-ms-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
}
.sc_slider_pagination_over:hover .sc_slider_pagination {
	right:0;
}
.sc_slider_pagination_over .sc_slider_pagination .post_item {
	background-color:transparent !important;
}

.slider_fullwide .sc_slider_pagination_over .sc_slider_pagination,
.slider_fullscreen .sc_slider_pagination_over .sc_slider_pagination {
	width: 20%;
}
.sc_slider_pagination_area .sc_slider_pagination .post_item {
	padding: 1em;
}
.sc_slider_pagination_area .sc_slider_pagination .post_item+.post_item {
	margin:0;
}
.sc_slider_pagination_area .sc_slider_pagination .post_item.active {
	background-color: rgba(0,0,0,0.1) !important;
}
.sc_slider_pagination_area .sc_slider_pagination .post_item .post_info .post_info_item + .post_info_item:before {
	content: "|";
	margin:0 5px;
}

.sc_slider_pagination.widget_area .post_item + .post_item {
	border-top-width: 1px;
	border-top-style: solid;
}

/* Info block*/
.sc_slider_swiper .sc_slider_info {
	max-width:80%;
	min-width:50%;
	max-height:100px;
	padding:10px;
	overflow:hidden;
	position:absolute;
	right:0;
	bottom:0;
	background-color: rgba(30,170,206, 0.8);
	-webkit-transition: all ease .5s .5s;
	-moz-transition: all ease .5s .5s;
	-ms-transition: all ease .5s .5s;
	-o-transition: all ease .5s .5s;
	transition: all ease .5s .5s;
	margin-bottom:0;
}
.sc_slider_pagination_area .sc_slider .sc_slider_info {
	/*left:0;*/
	max-width:100%;
}

.sc_slider_swiper:hover .sc_slider_info.sc_slider_info_fixed,
.sc_slider_swiper:hover .sc_slider_info:hover,
.sc_slider_swiper .sc_slider_info:hover {
	margin-bottom:0 !important;
}
.sc_slider_pagination_over:hover .sc_slider_info,
.sc_slider_swiper:hover .sc_slider_info {
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-ms-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
	margin-bottom:-130px !important;
}
	.sc_slider_swiper .slides .swiper-slide .sc_slider_info a {
		display:inline;
		min-height:0;
		color:#ffffff;
	}
	.sc_slider_swiper .slides .swiper-slide .sc_slider_info a:hover {
		color:#cccccc;
	}
	.sc_slider_swiper .sc_slider_info .sc_slider_subtitle {
		margin:0;
		padding:0;
		text-transform:uppercase;
		font-size:20px;
		line-height:24px;
		margin:0 0 4px;
	}
	.sc_slider_swiper .sc_slider_info .sc_slider_reviews {
		margin:0 0 4px;
	}
	.sc_slider_swiper .sc_slider_info .sc_slider_reviews.after_category {
		display:inline-block;
		position: relative;
		margin:0 0 0 2px;
		top: 0;
	}
	.sc_slider_reviews.post_rating .reviews_stars_bg,
	.sc_slider_reviews.post_rating .reviews_stars_hover,
	.sc_slider_reviews.post_rating .reviews_value {
		color: #ffffff !important;
	}
	.sc_slider_swiper .sc_slider_info .sc_slider_descr {
		color:#ffffff;
		line-height:16px;
	}
	.sc_slider_swiper .sc_slider_info .sc_slider_category {
		display:inline-block;
		vertical-align:top;
		text-transform:uppercase;
		position:relative;
		/*max-width:50%;*/
		/*min-width:135px;*/
		height: 24px;
		line-height:24px;
		padding:0 30px 0 0;
		text-align:left;
		overflow:hidden;
	}
	.sc_slider_pagination_area .sc_slider .sc_slider_info .sc_slider_category {
		min-width:0;
	}
.slider_fullscreen .sc_slider_swiper .sc_slider_info,
.slider_main .sc_slider_swiper .sc_slider_info {
	max-width:50%;
	min-width:40%;
	padding:30px;
	max-height:150px;
}
.slider_fullscreen .sc_slider_swiper:hover .sc_slider_info,
.slider_main .sc_slider_swiper:hover .sc_slider_info {
	margin-bottom:-180px;
}
.slider_fullscreen .sc_slider_swiper:hover .sc_slider_info.sc_slider_info_fixed,
.slider_fullscreen .sc_slider_swiper:hover .sc_slider_info:hover,
.slider_fullscreen .sc_slider_swiper .sc_slider_info:hover,
.slider_main .sc_slider_swiper:hover .sc_slider_info.sc_slider_info_fixed,
.slider_main .sc_slider_swiper:hover .sc_slider_info:hover,
.slider_main .sc_slider_swiper .sc_slider_info:hover {
	margin-bottom:0;
}
.slider_fullscreen .sc_slider_swiper .sc_slider_info .sc_slider_category,
.slider_main .sc_slider_swiper .sc_slider_info .sc_slider_category {
	font-size:14px;
	font-weight:300;
}
.slider_fullscreen .sc_slider_swiper .sc_slider_info .sc_slider_subtitle,
.slider_main .sc_slider_swiper .sc_slider_info .sc_slider_subtitle {
	font-size:21px;
	line-height:28px;
	font-weight:300;
}
.slider_fullscreen .sc_slider_swiper .sc_slider_info .sc_slider_descr,
.slider_main .sc_slider_swiper .sc_slider_info .sc_slider_descr {
	font-size:13px;
	line-height:18px;
	font-weight:300;
}






/* Socials icons
-------------------------------------------------------------- */
.sc_socials {
	overflow:hidden;
	display:inline-block;
	margin-right:-1.25em;
}
.sc_socials .sc_socials_item {
	display:inline-block;
	margin: 0 1.25em 0.5em 0;
	outline:none;
}
.sc_socials a {
	display:inline-block;
	outline:none;
}
.sc_socials a,
.sc_socials a .sc_socials_hover {
	width:4em;
	height:4em;
	line-height:4em;
	position:relative;
	background-repeat: no-repeat;
	background-position: 0 -4em;
	-webkit-background-size: 4em 8em;
	   -moz-background-size: 4em 8em;
	     -o-background-size: 4em 8em;
	        background-size: 4em 8em;

}
.sc_socials .social_icons span {
	font-size:4em;
	line-height:inherit;
}
.sc_socials.sc_socials_size_tiny {
    margin-right: 0.6em;
    padding-left: 2px;
}
.sc_socials.sc_socials_size_tiny .sc_socials_item {
    margin: 0;
}
.sc_socials.sc_socials_size_small {
	margin-right:-0.5em;
}
.sc_socials.sc_socials_size_small .sc_socials_item {
	margin:0.25em 0.5em 0.25em 0;
}
.sc_socials.sc_socials_size_medium {
	margin-right:-0.625em;
}
.sc_socials.sc_socials_size_medium .sc_socials_item {
	margin:0.25em 0.625em 0.25em 0;
}
.sc_socials.sc_socials_shape_round .sc_socials_item {
	margin:0 0.25em 0.25em 0;
}
.sc_socials.sc_socials_shape_round.sc_socials_size_medium .sc_socials_item {
	margin:0.25em 0.5em 0.25em 0;
}
.sc_socials.sc_socials_shape_round a {
	display:block;
	text-align:center;
	border: 2px solid #ddd;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
}
.sc_socials_shape_round.sc_socials_size_tiny a .sc_socials_hover {
	-webkit-border-radius: 50%;		/* Hack for Chrome - show sharp corners while animation */
}
.sc_socials_shape_round.sc_socials_size_small a .sc_socials_hover,
.sc_socials_shape_round.sc_socials_size_medium a .sc_socials_hover {
	-webkit-border-radius: 50%;		/* Hack for Chrome - show sharp corners while animation */
}
.sc_socials.sc_socials_size_tiny .social_icons span {
    font-size: 1em;
    line-height: inherit;
}

.sc_socials.sc_socials_size_tiny .sc_socials_item a{
    font-size: 0.9em;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 1.6em;
    margin: 0 0.5em 0 0;
    box-sizing: border-box;
}

.sc_socials.sc_socials_size_tiny a,
.sc_socials.sc_socials_size_tiny a .sc_socials_hover {
    font-size: 0.9em;
    width: 1.95em;
    height: 1.95em;
    text-align: center;
    line-height: 1.95em;
    margin: 0 0.5em 0 0;
	background-position: 0 -1em;
	-webkit-background-size: 1em 2em;
	   -moz-background-size: 1em 2em;
	     -o-background-size: 1em 2em;
	        background-size: 1em 2em;
}
.sc_socials_type_icons.sc_socials_shape_round.sc_socials_size_tiny a,
.sc_socials_type_icons.sc_socials_shape_round.sc_socials_size_tiny a .sc_socials_hover {
	width:2.15em;
	height:2.15em;
	line-height:1.8em;
}
.sc_socials.sc_socials_size_small .social_icons span {
	font-size:1.6667em;
	line-height:inherit;
}
.sc_socials.sc_socials_size_small a,
.sc_socials.sc_socials_size_small a .sc_socials_hover {
	width:2em;
	height:2em;
	line-height:2em;
	background-position: 0 -2em;
	-webkit-background-size: 2em 4em;
	   -moz-background-size: 2em 4em;
	     -o-background-size: 2em 4em;
	        background-size: 2em 4em;
}
.sc_socials_type_icons.sc_socials_shape_round.sc_socials_size_small a,
.sc_socials_type_icons.sc_socials_shape_round.sc_socials_size_small a .sc_socials_hover {
	width:4em;
	height:4em;
	line-height:4em;
}
.sc_socials.sc_socials_size_medium .social_icons span {
	font-size:2em;
	line-height:inherit;
}
.sc_socials.sc_socials_size_medium a,
.sc_socials.sc_socials_size_medium a .sc_socials_hover {
	width:2.5em;
	height:2.5em;
	line-height:2.5em;
	background-position: 0 -2.5em;
	-webkit-background-size: 2.5em 5em;
	   -moz-background-size: 2.5em 5em;
	     -o-background-size: 2.5em 5em;
	        background-size: 2.5em 5em;
}
.sc_socials_type_icons.sc_socials_shape_round.sc_socials_size_medium a,
.sc_socials_type_icons.sc_socials_shape_round.sc_socials_size_medium a .sc_socials_hover {
	width:5em;
	height:5em;
	line-height:5em;
}
.sc_socials a .sc_socials_hover,
.sc_socials.sc_socials_size_tiny a .sc_socials_hover,
.sc_socials.sc_socials_size_small a .sc_socials_hover,
.sc_socials.sc_socials_size_medium a .sc_socials_hover {
	position: absolute;
	display:block;
	left:0;
	top:0;
	background-position: 0 0;
	     opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all ease .3s;
	   -moz-transition: all ease .3s;
	    -ms-transition: all ease .3s;
	     -o-transition: all ease .3s;
	        transition: all ease .3s;
}
.sc_socials a:hover .sc_socials_hover {
	     opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}

/* Share buttons */
.sc_socials.sc_socials_share.sc_socials_size_small .social_icons {
    text-align: center;
    border-radius: 50%;
    border: 2px solid;
    margin-top: 0;
    line-height: 1.75em;
}
.sc_socials.sc_socials_share .sc_socials_item {
	vertical-align:top;
}
.sc_socials.sc_socials_share .share_caption {
    display: inline-block;
    line-height: 2.7em;
    margin-right: 1.15em;
}
.sc_socials.sc_socials_share.sc_socials_size_small .social_icons span {
    font-size: 0.9em;
}
.sc_socials.sc_socials_share.sc_socials_dir_vertical {
	position:fixed;
	left:0;
	top:16%;
	z-index:9998;
}
.sc_socials.sc_socials_share.sc_socials_dir_vertical .sc_socials_item {
	display:block;
	margin-top:6px;
	line-height:1em;
}
.sc_socials.sc_socials_share.sc_socials_dir_vertical .share_caption {
	display:none;
}
.sc_socials.sc_socials_share .share_counter{
	display:inline-block;
	vertical-align:top;
	margin-left:6px;
	position:relative;
	background:#fff;
	color:#666;
	padding:0 8px;
	line-height:62px;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}
.sc_socials.sc_socials_share .share_counter:before{
	content:" ";
	position:absolute;
	z-index:1;
	top:50%;
	left:-4px;
	width:6px;
	height:6px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background:#fff;
	-webkit-transform: translateY(-50%) rotate(45deg);
	   -moz-transform: translateY(-50%) rotate(45deg);
	        transform: translateY(-50%) rotate(45deg);
}
.sc_socials.sc_socials_size_small.sc_socials_share .share_counter{
	line-height:30px;
    margin-top: 0.2em;
}
.sc_socials.sc_socials_size_medium.sc_socials_share .share_counter{
	line-height:38px;
}





/* Table
-------------------------------------------------------------- */
.sc_table table {
    width: 100%;
}
.sc_table table tr:first-child th,
.sc_table table tr:first-child td,
.sc_table table tr:last-child td{
    font-family: Oswald, sans-serif;
    font-size:1.176em;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 0.87em;
    padding-bottom: 0.78em;
}
.sc_table table tr th:first-child {
    font-size: 0.8em;
}




/* Tabs
-------------------------------------------------------------- */
.sc_tabs .sc_tabs_titles {
    overflow:hidden;
    margin:0;
    padding:0;
    font-weight: 400;
}
.sc_tabs .sc_tabs_titles li {
    padding:0;
    list-style:none;
    font-size:0.94em;
    font-family: Oswald, sans-serif;
    float:left;
    text-transform: uppercase;
}
.sc_tabs .sc_tabs_titles li:before {
    display:none;
}
.sc_tabs .sc_tabs_titles li a {
    display:block;
    padding: 0.5em 1.8em;
}
.sc_tabs .sc_tabs_content {
    display: none;
    overflow:hidden;
}

/* Style 1 */
.sc_tabs.sc_tabs_style_1 .sc_tabs_titles,
.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li {
    margin-bottom: 0;
}
.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li a {
    position:relative;
}

.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li+li {
    margin-left: 0.3em;
}
.sc_tabs.sc_tabs_style_1 .sc_tabs_content {
    margin-top:-1px;
    padding: 1.95em 0;
}

/* Style 2 */
.sc_tabs.sc_tabs_style_2 .sc_tabs_titles li {
    margin:0 0 0.6667em 0;
}
.sc_tabs.sc_tabs_style_2 .sc_tabs_titles li+li {
    margin-left: 0;
}
.sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
    position: relative;
    text-transform:uppercase;
    padding: 0.45em 2.3em;
}
.sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a:hover,
.sc_tabs.sc_tabs_style_2 .sc_tabs_titles li.ui-state-active a {
    background-color: transparent !important;
}
.sc_tabs.sc_tabs_style_2 .sc_tabs_content {
    padding: 1.5em 1.9em;
    border: 1px solid #e4e7e8;
}
.sc_tabs.sc_tabs_style_2 .sc_tabs_titles li+li a:after {
    position: absolute;
    left: 0;
    content: "|";
    font-weight: 300;
    font-size: 1.3em;
    color: rgba(0,0,0,0.2);
}



/* Team
-------------------------------------------------------------- */
.sc_team_item .sc_team_item_info .sc_team_item_title {
    margin: 0.8em 0 1.05em 0;
    font-size: 1.2222em;
}
.sc_team_style_team-5 .sc_team_item .sc_team_item_info .sc_team_item_title {
    margin: 0.8em 0 0 0;
}
.sc_team_item .sc_team_item_info .sc_team_item_title a {
	font-weight:400;
}
.sc_team_item .sc_team_item_info .sc_team_item_position {
	margin-top:0.1em;
	color: #222222;
}
.sc_team_item .sc_team_item_info .sc_team_item_description {
	margin-top:1em;
	line-height:1.75em;
	overflow:hidden;
}
.sc_team_item .sc_team_item_info .sc_socials {
	margin-top:1.5em;
}
.sc_team_item .sc_team_item_avatar img {
	width: 100%;
}

.sc_team_style_team-1.sc_slider_swiper .sc_team_item,
.sc_team_style_team-2.sc_slider_swiper .sc_team_item {
	padding-right: 2em;
}

.sc_team_style_team-1 .sc_team_item_info,
.sc_team_style_team-3 .sc_team_item_info,
.sc_team_style_team-5 .sc_team_item_info{
	padding-top: 1.5em;
}
.sc_team_style_team-3 .sc_team_item_avatar,
.sc_team_style_team-5 .sc_team_item_avatar,
.sc_team_style_team-4 .sc_team_item_avatar {
	position:relative;
}
.sc_team_style_team-3 .sc_team_item_avatar .sc_team_item_hover,
.sc_team_style_team-5 .sc_team_item_avatar .sc_team_item_hover,
.sc_team_style_team-4 .sc_team_item_avatar .sc_team_item_hover {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	opacity: 0;
	filter: alpha(opacity=0);
	text-align:center;
}
.sc_team_style_team-3 .sc_team_item:hover .sc_team_item_avatar .sc_team_item_hover,
.sc_team_style_team-5 .sc_team_item:hover .sc_team_item_avatar .sc_team_item_hover,
.sc_team_style_team-4 .sc_team_item:hover .sc_team_item_avatar .sc_team_item_hover {
	opacity: 1;
	filter: alpha(opacity=1);
}
.sc_team_style_team-3 .sc_team_item_avatar .sc_team_item_hover,
.sc_team_style_team-3 .sc_team_item_avatar .sc_team_item_hover .sc_team_item_socials,
.sc_team_style_team-5 .sc_team_item_avatar .sc_team_item_hover,
.sc_team_style_team-5 .sc_team_item_avatar .sc_team_item_hover .sc_team_item_socials,
.sc_team_style_team-4 .sc_team_item_avatar .sc_team_item_hover,
.sc_team_style_team-4 .sc_team_item_avatar .sc_team_item_hover .sc_team_item_info {
	overflow:hidden;
	-webkit-transition: all ease .3s;
	   -moz-transition: all ease .3s;
	    -ms-transition: all ease .3s;
	     -o-transition: all ease .3s;
	        transition: all ease .3s;
}
.sc_team_style_team-3 .sc_team_item_avatar .sc_team_item_hover .sc_team_item_socials,
.sc_team_style_team-5 .sc_team_item_avatar .sc_team_item_hover .sc_team_item_socials,
.sc_team_style_team-4 .sc_team_item_avatar .sc_team_item_hover .sc_team_item_info {
	position:absolute;
	left:0;
	top:50%;
	width:100%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	        transform: translateY(-50%);
	margin-top: 50px;
}
.sc_team_style_team-4 .sc_team_item_avatar .sc_team_item_hover .sc_team_item_info {
	padding:1.5em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.sc_team_style_team-3 .sc_team_item:hover .sc_team_item_avatar .sc_team_item_hover .sc_team_item_socials,
.sc_team_style_team-5 .sc_team_item:hover .sc_team_item_avatar .sc_team_item_hover .sc_team_item_socials,
.sc_team_style_team-4 .sc_team_item:hover .sc_team_item_avatar .sc_team_item_hover .sc_team_item_info {
	margin-top: 0;
}



/* Testimonials
-------------------------------------------------------------- */
.sc_testimonials_wrap {
	position:relative;
}
.sc_testimonials_wrap .sc_section_overlay {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	width:100%;
	padding:1.5em 0;
}
.sc_testimonial_item {
	text-align:center;
	padding: 0 5em;
}
.sc_testimonials_style_testimonials-2 .sc_testimonial_item {
    padding: 0 16.6em;
}
.sc_testimonials .sc_columns .sc_testimonial_item {
	padding: 0;
}
.sc_testimonial_position {
	font-style:italic;
}
.sc_testimonial_content {
	font-size:1.2222em;
	line-height:1.5em;
}
.sc_testimonial_content p {
	margin:0;
}
.sc_testimonial_content p+p {
	margin-top:0.5em;
}
.sc_testimonials .sc_testimonial_avatar {
	overflow:hidden;
	margin:0 auto;
	width:3em;
	height:3em;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
}

.sc_testimonials.sc_testimonials_style_testimonials-2 .sc_testimonial_avatar {
    margin-left: 0;
}
.sc_testimonials.sc_testimonials_style_testimonials-2 .sc_testimonial_author {
    text-align: left;
    margin-top: 0.75em;
}

/* Style 1 */
.sc_testimonials_style_testimonials-1 .sc_testimonial_content p:first-child:before,
.sc_testimonials_style_testimonials-1 .sc_testimonial_content p:last-child:after {
	content: '"';
}
.sc_testimonials_style_testimonials-1 .sc_testimonial_content {
	margin-bottom:1.5em;
}
.sc_testimonials_style_testimonials-1 .sc_testimonial_avatar,
.sc_testimonials_style_testimonials-1 .sc_testimonial_author {
	display: inline-block;
	vertical-align:middle;
}
.sc_testimonials_style_testimonials-1 .sc_testimonial_avatar {
	margin-right:0.75em;
}
.sc_testimonials_style_testimonials-1 .sc_testimonial_author_name,
.sc_testimonials_style_testimonials-1 .sc_testimonial_author_position {
	display:block;
	text-align:left;
}

/* Style 2 */
.sc_testimonials_style_testimonials-2 .sc_testimonial_content p:first-child:before,
.sc_testimonials_style_testimonials-2 .sc_testimonial_content p:last-child:after {
	content: '"';
}
.sc_testimonials_style_testimonials-2 .sc_testimonial_content {
    position: relative;
    text-align: left;
	margin-bottom:1.35em;
    line-height: 1.6em;
}
.sc_testimonials_style_testimonials-2 .sc_testimonial_content:before {
    content: '\e8f6';
    font-family: 'fontello';
    position: absolute;
    top: 0;
    left: -1.7em;
    font-size: 0.9em;
}
.sc_testimonials_style_testimonials-2 .sc_testimonial_author_position {
	font-style:normal;
}

/* Style 3 */
.sc_testimonials_style_testimonials-3 .sc_testimonial_content:before {
    content: '\e8f6';
    font-family: 'fontello';
    position: absolute;
    top: 2.3em;
    left: 3.7em;
    font-size: 0.6em;
}
.sc_testimonials_style_testimonials-3 .sc_testimonial_content a {
    font-size: 13px;
}
.sc_testimonials_style_testimonials-3 .sc_testimonial_item {
	padding: 0 0.85em;
	line-height:1.4em;
	text-align:left;
}
.sc_testimonials_style_testimonials-3 .sc_testimonial_content {
    padding: 2.95em 1.9em 2.45em 2.2em;
	background-color:#ffffff;
	text-align:left;
	position:relative;
	margin-bottom:1.3em;
    font-weight: 400;
    line-height: 1.6em;
}
.sc_testimonials_style_testimonials-3 .sc_testimonial_content:after {
	content:' ';
	display:block;
	position:absolute;
	width: 0.8em;
	height: 0.8em;
	left: 1.95em;
	bottom:-0.4em;
	background-color:#ffffff;
	-webkit-transform:rotate(45deg);
	   -moz-transform:rotate(45deg);
	        transform:rotate(45deg);
}
.sc_testimonials_style_testimonials-3 .sc_testimonial_content p:first-child:before {
	content: '\e8b6';
	font-family: 'fontello';
	font-size:1.5em;
	display:block;
	position: absolute;
	left:0.75em;
	top:0.75em;
}
.sc_testimonials_style_testimonials-3 .sc_testimonial_avatar,
.sc_testimonials_style_testimonials-3 .sc_testimonial_author {
	display: inline-block;
	vertical-align:middle;
}
.sc_testimonials_style_testimonials-3 .sc_testimonial_author {
    margin-left: 1.4em;
}
.sc_testimonials_style_testimonials-3 .sc_testimonial_avatar {
	margin-left: 1.4em;
}
.sc_testimonials_style_testimonials-3 .sc_testimonial_author_name,
.sc_testimonials_style_testimonials-3 .sc_testimonial_author_position {
	display:block;
}
.sc_testimonials_style_testimonials-3 .sc_testimonial_author_name {
    font-weight: 400;
}
.sc_testimonials_style_testimonials-3 .sc_testimonial_author_position {
	font-size: 0.722em;
    font-weight: 400;
    margin-top: 0.3em;
}

/* Style 4 */
.sc_testimonials_style_testimonials-4 .sc_testimonial_item {
	padding: 1.5em !important;
	line-height:1.4em;
	text-align:left;
	background-color:#f0f0f0;
}
.sc_testimonials_style_testimonials-4.sc_slider_swiper .sc_testimonial_item {
	margin-right:2em;
}
.sc_testimonials_style_testimonials-4 .sc_testimonial_content {
	position:relative;
	padding: 0 0 1em 2em;
}
.sc_testimonials_style_testimonials-4 .sc_testimonial_content p:first-child:before {
	content: '\e8b6';
	font-family: 'fontello';
	font-size:1.5em;
	display:block;
	position: absolute;
	left:0;
	top:0;
}
.sc_testimonials_style_testimonials-4 .sc_testimonial_avatar,
.sc_testimonials_style_testimonials-4 .sc_testimonial_author {
	display: inline-block;
	vertical-align:middle;
}
.sc_testimonials_style_testimonials-4 .sc_testimonial_avatar {
	margin-right: 0.75em;
}
.sc_testimonials_style_testimonials-4 .sc_testimonial_author_name,
.sc_testimonials_style_testimonials-4 .sc_testimonial_author_position {
	display:block;
}
.sc_testimonials_style_testimonials-4 .sc_testimonial_author_name {
	font-size:1.2857em;
	font-weight:bold;
}
.sc_testimonials_style_testimonials-4 .sc_testimonial_author_position {
	font-style:italic;
}
.sc_testimonials_style_testimonials-4 .sc_slider_pagination_wrap {
	display:none;
}


/* Title
-------------------------------------------------------------- */
.sc_title {
	overflow: hidden;
	position:relative;
	padding-bottom:2px;
}
/* Inderline */
.sc_title_underline {
	padding-bottom:16px;
}
.sc_title_underline:after {
	content:' ';
	display:block;
	position:absolute;
	border-top: 1px solid #222222;
	height:0;
	width:8%;
	min-width:2em;
	left:0;
	bottom:0;
}
.sc_title_underline.sc_align_center:after {
	left:50%;
	margin-left:-0.5em;
}
.sc_title_underline.sc_align_right:after {
	right:0;
	left:auto;
}

/* Divider */
.sc_title_divider { 
	position:relative; 
	padding-left: 5ex; 
	padding-right: 5ex;
	text-align:center;
}
.sc_title_divider .sc_title_divider_before,
.sc_title_divider .sc_title_divider_after {
	display:block;
	width:20%;
	height:1px;
	background-color:#222222;
	position:absolute;
	top: 50%;
}
.sc_title_divider .sc_title_divider_before {
	left:0;
}
.sc_title_divider .sc_title_divider_after {
	right:0;
}

/* Icon */
.sc_title_icon {
	display:inline-block;
}
.sc_title_icon_left {
	margin-right:0.5em;
}
.sc_title_icon_top {
	display:block;
}
.sc_title_icon img {
	width:auto;
}
.sc_title_icon_left img {
	vertical-align:middle;
}
.sc_title_icon_top img {
	vertical-align:baseline;
}
.sc_title_icon_small img {
	height: 1em;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}
.sc_title_icon_medium img {
	height: 2em;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
			border-radius: 6px;
}
.sc_title_icon_large img {
	height: 3em;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
			border-radius: 10px;
}



/* Toggles
-------------------------------------------------------------- */
.sc_toggles .sc_toggles_item {
	margin-bottom:1.25em;
}
.sc_toggles > .sc_toggles_item .sc_toggles_content {
	overflow: hidden;
	display: none;
}
.sc_toggles .sc_toggles_item .sc_toggles_title {
	position:relative;
	overflow:hidden;
	cursor:pointer;
	margin:0;
	-webkit-transition: all ease 0.3s;
	   -moz-transition: all ease 0.3s;
	    -ms-transition: all ease 0.3s;
	     -o-transition: all ease 0.3s;
	        transition: all ease 0.3s;
}
.sc_toggles .sc_toggles_item .sc_toggles_title .sc_items_counter:after {
	content:'. ';
}
.sc_toggles .sc_toggles_item .sc_toggles_title .sc_toggles_icon {
	position:absolute;
	left:0;
	top:0;
	height:100%;
	padding:0;
	text-align:center;
	overflow:hidden;
	-webkit-transition: all ease 0.3s;
	   -moz-transition: all ease 0.3s;
	    -ms-transition: all ease 0.3s;
	     -o-transition: all ease 0.3s;
	        transition: all ease 0.3s;
}
.sc_toggles .sc_toggles_item .sc_toggles_title .sc_toggles_icon:before {
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform:translateX(-50%) translateY(-50%);
	   -moz-transform:translateX(-50%) translateY(-50%);
	        transform:translateX(-50%) translateY(-50%);
}
.sc_toggles .sc_toggles_item .sc_toggles_content {
	padding:1.5em 1.8em;
}

/* Style 1 */
.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_title {
	border:1px solid #e4e7e8;
	padding:0.5em 0.5em 0.5em 3em;
}
.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_title .sc_toggles_icon {
	width:2.3333em;
	background-color:#e4e7e8;
	color: #ffffff;
}
.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_title .sc_toggles_icon_opened {
	margin-top:-2.3333em;
}
.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_title.ui-state-active .sc_toggles_icon_opened {
	margin-top:0;
}
.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_title.ui-state-active .sc_toggles_icon_closed {
	margin-top:2.3333em;
}
.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_content {
	border-width:1px;
	border-style:solid;
	border-top-width:0;
}

/* Style 2 */
.sc_toggles.sc_toggles_style_2 .sc_toggles_item .sc_toggles_title {
	margin-bottom:0.6667em;
	padding:0 0 0 2.0833em;
	text-transform:uppercase;
}
.sc_toggles.sc_toggles_style_2 .sc_toggles_item .sc_toggles_title .sc_toggles_icon {
	left:0;
	top:50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	        transform: translateY(-50%);
	width:1.1667em;
	height:1.1667em;
	border-width:2px;
	border-style:solid;
}
.sc_toggles.sc_toggles_style_2 .sc_toggles_item .sc_toggles_title .sc_toggles_icon:before {
	font-size:0.5833em;
	line-height:1em;
}
.sc_toggles.sc_toggles_style_2 .sc_toggles_item .sc_toggles_title .sc_toggles_icon_opened {
	opacity: 0;
}
.sc_toggles.sc_toggles_style_2 .sc_toggles_item .sc_toggles_title.ui-state-active .sc_toggles_icon_opened {
	opacity: 1;
}
.sc_toggles.sc_toggles_style_2 .sc_toggles_item .sc_toggles_title.ui-state-active .sc_toggles_icon_closed {
	opacity: 0;
}
.sc_toggles.sc_toggles_style_2 .sc_toggles_item .sc_toggles_content {
	margin-left:2em;
	border-width:1px;
	border-style:solid;
}





/* Tooltip
-------------------------------------------------------------- */
.sc_tooltip_parent {
	text-decoration: none;
	border-bottom: 1px solid;
	position: relative;
	display:inline-block;
}
.sc_tooltip_parent .sc_tooltip {
	position: absolute;
	color: #fff;
	background-color:#333333;
	white-space: nowrap;
	top: -4em;
	left: 50%;
	-webkit-transform:translateX(-50%);
	   -moz-transform:translateX(-50%);
	        transform:translateX(-50%);
	padding: 2px 6px;
	z-index: 2;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all ease-out 0.1s;
	   -moz-transition: all ease-out 0.1s;
	    -ms-transition: all ease-out 0.1s;
	     -o-transition: all ease-out 0.1s;
	        transition: all ease-out 0.1s;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
			border-radius: 2px;
}
.sc_tooltip_parent:hover .sc_tooltip {
	opacity: 1;
	filter: alpha(opacity=100);
	top: -2em;
}
.sc_tooltip_parent .sc_tooltip:before {
	content: ' ';
	width: 6px;
	height: 6px;
	position: absolute;
	left: 50%;
	bottom: -3px;
	margin-left: -3px;
	z-index: 1;
	background-color:#333333;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
}



/* Twitter
-------------------------------------------------------------- */
.sc_twitter_wrap {
	position:relative;
}
.sc_twitter_wrap .sc_section_overlay {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	width:100%;
	padding:1.5em 0;
}
.sc_twitter_item {
	text-align:center;
	padding: 0 5em;
}
.sc_twitter_content {
	font-size:1.125em;
	line-height:1.5em;
}
.sc_twitter_icon {
	font-size:2.5em;
	line-height:1em;
	display:block;
	text-align:center;
	margin-bottom:0.5em;
}
.sc_twitter_content p {
	margin:0;
}
.sc_twitter_content p+p {
	margin-top:0.5em;
}
.bg_tint_dark .sc_twitter a {
	color: #ffffff;
}
.sc_twitter.sc_slider_swiper:hover .sc_slider_controls_wrap .sc_slider_prev {
	margin-left:10px;
}
.sc_twitter.sc_slider_swiper:hover .sc_slider_controls_wrap .sc_slider_next {
	margin-right:10px;
}
.sc_twitter .sc_slider_controls_wrap a {
	font-size:2.5em;
    background-color: transparent;
}





/* Video player
-------------------------------------------------------------- */
.sc_video_player {
	background-repeat:no-repeat;
	-webkit-background-size: 100% auto;
	   -moz-background-size: 100% auto;
	     -o-background-size: 100% auto;
		    background-size: 100% auto;
}
.sc_video_player.sc_video_bordered {
	width:auto;
	height:auto;
	display:inline-block;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
/*
.sc_video_player.sc_video_bordered {
	width:100%;
	display:block;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
*/
.sc_video_frame {
	position:relative;
	overflow:hidden;
}
.sc_video_frame img {
	width: 100%;
	height:auto;
}
/* Media elements */
.mejs-container {
	max-width:100%;
}




/* Zoom
-------------------------------------------------------------- */
.sc_zoom_wrap {
	width:auto;
	height:auto;
	display:inline-block;
	background-repeat:no-repeat;
	-webkit-background-size: 100% auto;
	   -moz-background-size: 100% auto;
	     -o-background-size: 100% auto;
		    background-size: 100% auto;
}
.sc_zoom {
	position:relative;
	overflow:hidden;
}
.sc_zoom img {
	width: 100%;
	height:auto;
}




/* Common styles (title, subtitle, description, slider controls for some shortcodes)
--------------------------------------------------------------------- */

/* Subtitle */
.sc_item_subtitle {
	margin: 0 0 0.25em;
	font-size: 0.8571em;
	text-transform:uppercase;
	text-align:center;
}

/* Title */
.sc_item_title {
	margin: 0;
	text-align:center;
}
.sc_item_title:after {
	content:' ';
	display:block;
	width: 8%;
	height:2px;
	margin: 0.6667em auto;
	background-color:#222222;
}

/* Description */
.sc_item_descr {
	font-size:1.5em;
	font-weight:300;
	line-height:1.4em;
	font-style:italic;
	margin: 0 0 2em;
	text-align:center;
}

/* Learn more botton */
.sc_item_button {
	display:block;
	margin:0;
	text-align:center;
}
.sc_item_button > a {
	overflow:hidden;
}
.sc_item_button > a:before {
	float:right;
	margin: 0 0 0 1em;
	display:inline-block;
	width: 1.3em;
	height:1.3em;
	line-height:1.3em;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
}
.sc_slider_swiper > .sc_item_button {
	margin-top: 2em;
}

.sc_item_buttons {
	display:inline-block;
	overflow:hidden;
}
.sc_item_buttons > .sc_item_button {
	float:left;
	margin-right: 1.5em;
}
.sc_item_buttons > .sc_item_button+.sc_item_button {
	margin-right: 0;
}

/* Slider controls side */
.sc_slider_controls_side .sc_slider_controls_wrap a {
	width: 3.2em;
	height: 3.2em;
    font-size: 1em;
    font-weight: 400;
	line-height: 3em;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
}
.sc_slider_controls_side:hover .sc_slider_controls_wrap .sc_slider_prev {
	margin-left:10px;
}
.sc_slider_controls_side:hover .sc_slider_controls_wrap .sc_slider_next {
	margin-right:10px;
}


/* Slider controls bottom */
.sc_slider_controls_bottom .swiper-slide {
	padding-bottom:5em;
}
.sc_slider_controls_bottom .sc_slider_controls_wrap {
	top: auto;
	bottom:0.5em;
	text-align:center;
	padding-bottom:0;
	height: 2em;
}
.sc_slider_controls_bottom .sc_slider_controls_wrap a {
	width: 2em;
	height: 2em;
	line-height: 2em;
	color: #ddd;
	border: 2px solid #ddd;
	margin-left:0;
	margin-right:0;
	float:none;
	display:inline-block;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
				opacity: 1;
	filter: alpha(opacity=100);
}
.sc_slider_controls_bottom .sc_slider_controls_wrap .sc_slider_prev {
	margin-right:0.5em;
}
.sc_slider_controls_bottom:hover .sc_slider_controls_wrap .sc_slider_prev {
	margin-left:0;
}
.sc_slider_controls_bottom:hover .sc_slider_controls_wrap .sc_slider_next {
	margin-right:0;
}
.sc_slider_controls_bottom .sc_slider_pagination_wrap {
	display:none;
}

/* Slider pagination bottom */
.sc_slider_pagination_bottom .swiper-slide {
	padding-bottom: 3em;
}
.sc_slider_pagination_bottom:hover .sc_slider_pagination_wrap {
	bottom: 0.5em;
}

.sc_highlight_style_1 {
    padding: 0 0.2em;
}
.sc_highlight_style_2:hover {
    border-bottom: 1px solid;
}

/*Custom input field*/

.input_field{
    float: left;
    margin-right: 2em;
    margin-bottom: 1.45em;
}

.input_field input[type="text"],
.input_field select{
    width: 265px;
}

.input_field label{
    display: table;
    position: relative;
    margin-bottom: 0.1em;
}
.input_field.required label:before{
    content: '*';
    position: absolute;
    right: -0.5em;
    top: 0;
}
.input_err{
    font-size: 0.83em;
    line-height: 2em;
}
.sc_title_dotted {
    position: relative;
}
.sc_title_dotted:before {
    content: '\e83c';
    font-family: Fontello;
    font-size: 1.2em;
    margin-right: 0.8em;
    margin-left: 2px;
}
.sc_title_dotted:after {
    content: '\e83c';
    font-family: Fontello;
    font-size: 1.2em;
    margin-left: 0.8em;
}